
.bg-lblod{
  background-image: url('/assets/patterns/lblod-pattern.svg');
}

.bg-kaleidos{
  background-image: url('/assets/patterns/kaleidos-pattern.svg');
}

.bg-yellow {
  background-color: #fde257;
}

.bg-green {
  background-color: #1e7575;
}

.bg-logo-cloud {
  background-image: url('/assets/vector/logo-cloud.svg');
}

.bg-services-lines {
  background-image: url('/assets/vector/services-lines.svg');
}

