

/* TAILWIND */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "./base.css";

/* PAGES */
@import "./pages/index.css";
@import "./pages/who-we-are.css";
@import "./pages/projects.css";
@import "./pages/projects/lblod.css";
@import "./pages/services.css";
@import "./pages/contact.css";
@import "./pages/careers.css";
@import "./pages/not-found.css";


/* UTILITIES */

@import "./utilities/spacing.css";

/* COMPONENTS */
@import "./components/hero/carousel.css";
@import "./components/hero/career-banner.css";
@import "./components/hero/data-cycle.css";
@import "./components/service-card.css";
@import "./components/project-card.css";
@import "./components/navbar.css";
@import "./components/buttons.css";
@import "./components/page-header.css";
@import "./components/projects/header.css";
@import "./components/projects/section.css";


/* TYPOGRAPHY */

@import "./typography/titles.css";
@import "./vanilla/fontface.css";


/* OTHER */
@import "./vanilla/backgrounds.css";
@import "./vanilla/effects.css";


* {
  font-family: 'Poppins', sans-serif;
  transition: all .05s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

