/* TAILWIND */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* TYPOGRAPHY */
@import "./vanilla/fontface.css";


/* OTHER */
@import "./vanilla/backgrounds.css";
@import "./vanilla/effects.css";


* {
  font-family: 'Poppins', sans-serif;
  transition: all .05s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .r_border-b-light {
    @apply border-b border-zinc-300;
  }

  .r_border-light {
    @apply border border-zinc-300;
  }

  h1.r_text-dark,h2.r_text-dark,h3.r_text-dark,h4.r_text-dark,h5.r_text-dark,h6.r_text-dark,h7.r_text-dark,
  r_text-dark > h1, r_text-dark > h2, r_text-dark > h3, r_text-dark > h4, r_text-dark > h5, r_text-dark > h6, r_text-dark > h7
  {
    @apply text-zinc-900;
  }
  *.r_text-dark, r_text-dark > * {
    @apply text-zinc-800;
  }
}
