@layer components {
  .carousel-item {
    @apply relative flex bg-gradient-to-br from-gray-100 to-gray-50 rounded-lg px-6 md:px-12 xl:px-24 margin-bottom-small h-96 items-center
  }

  .carousel-content {
    @apply lg:w-1/2 z-10
  }

  .carousel-header {
    @apply margin-bottom-xsmall
  }

  .carousel-title {
    @apply title-lg mb-3
  }

  .carousel-text {
    @apply  text-lg md:text-2xl
  }

  .carousel-tag-list {
    @apply flex space-x-3 margin-bottom-small
  }

  .carousel-tag-item {
    @apply flex px-4 py-1 bg-white rounded text-sm
  }

  .carousel-illustration {
    @apply h-full absolute right-0 bottom-0 opacity-10 lg:opacity-100
  }

  .carousel-navigation {
    @apply flex items-center margin-bottom-xsmall space-x-2 justify-end
  }

  .carousel-nav-link {
    @apply w-12 h-5 rounded-full bg-gray-200 focus:outline-white border
  }

  .carousel-nav-link--active {
    @apply w-36 bg-gradient-to-br from-gray-500 to-gray-800
  }
}
