
<section class="banner">
  <article class="banner-inner">
    <div class="banner-call">
      <h2 class="banner-title">Discover</h2>
      <h3 class="banner-text">An exciting future</h3>
    </div>
    <div>
      <LinkTo @route="careers">
        <button type="button" class="banner-button"> <span class="banner-text-outer"> Start a new experience </span> <span
          class="banner-text-inner"> Careers</span></button>
      </LinkTo>
    </div>
  </article>
</section>