<nav class="bcrumbs" aria-label="Breadcrumb">
  <div class="bcrumbs-inner">
    <ol class="bcrumbs-list">
      <li class="bcrumbs-list-item">
        <LinkTo @route="index" class="bcrumbs-link">
          <span>Homepage</span>
        </LinkTo>
      </li>
      {{#each this.breadCrumbs as |breadcrumb|}}
        <li class="bcrumbs-list-item">
          {{svg-jar "seperator-slash" class="bcrumbs-icon" fill="currentColor"}}
          <LinkTo @route={{breadcrumb.route}} class="bcrumbs-link ">{{breadcrumb.label}}</LinkTo>
        </li>
      {{/each}}
    </ol>
  </div>
</nav>
