<div
  class="relative z-10 flex h-full w-full flex-col-reverse items-center justify-between overflow-hidden p-0 md:flex-row md:p-6"
>
  <div
    class="bottom-0 h-full opacity-80 md:absolute md:right-0 md:top-0 lg:opacity-100"
  >
    {{yield to="image"}}
  </div>
  <div class="z-20 w-full p-6 md:w-2/3 md:p-0 lg:w-1/2 lg:px-6">
    <h4 class="mb-4 text-xl font-medium text-zinc-900 md:text-3xl">{{yield
        to="title"
      }}</h4>
    <p class="text-sm font-light text-zinc-800 md:text-xl">
      {{yield to="text"}}
    </p>
  </div>
</div>