<div class="relative z-10 flex items-center justify-between h-full w-full p-3 md:p-6">
  <div class="absolute top-0 right-0 h-full opacity-40 lg:opacity-100">
    {{yield to="image"}}
  </div>
  <div class="z-20 w-full md:w-2/3 lg:w-1/2 lg:px-6">
    <h4 class="text-xl md:text-2xl font-medium mb-4 text-gray-100">{{yield to="title"}}</h4>
    <p class="text-sm md:text-lg text-gray-300 font-light">
      {{yield to="text"}}
    </p>
  </div>
</div>