<li class="flex space-x-6 bg-gray-900 p-3 md:p-6 text-gray-200 border border-gray-800 shadow-2xl shadow-gray-400/10">
  <div class="flex justify-center items-center bg-gray-800 text-gray-300 w-10 h-10">
    {{svg-jar @icon class="flex-no-shrink text-gray-200 w-4"}}
  </div>
  <div>
    <p class="title-md">{{@title}}</p>
    <h4 class="title-xs-light mb-1">{{@description}}</h4>
  </div>
</li>