<footer
  class="bg-gradient-to-r from-zinc-200 to-zinc-50 py-6
    {{if @borderTop 'border-t border-gray-300'}}"
>
  <div class="container">
    <div
      class="grid w-full grid-cols-1 space-y-8 border-b border-gray-400 py-12 sm:grid-cols-2 sm:px-6 lg:grid-cols-4 lg:space-y-0"
    >
      <div class="mt-1">
        <LinkTo @route="index">
          <img
            class="h-7 w-auto"
            src="/assets/vector/rpio-logo.svg"
            alt="redpencil.io"
          />
        </LinkTo>
      </div>
      <div class="sm:col-start-1 lg:col-start-2">
        <h2 class="mb-4 text-lg font-medium text-gray-900">Work office</h2>
        <div class="whitespace-no-wrap text-gray-600">
          <a
            href="https://www.becentral.org"
            class="underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            BeCentral campus
          </a><br />
          Cantersteen 10<br />
          1000 Brussels<br />
          Belgium
        </div>
      </div>
      <div>
        <h2 class="mb-4 text-lg font-medium text-gray-900">Legal</h2>
        <div class="space-y-2">
          <div class="whitespace-no-wrap text-gray-600">
            P.P. Rubensstraat 37a<br />
            1880 Kapelle-op-den-Bos<br />
            Belgium
          </div>
          <div>
            <div class="whitespace-no-wrap text-gray-600">
              VAT BE 0681.569.312
            </div>
            <div class="whitespace-no-wrap text-gray-600">
              IBAN BE68 7360 4161 9734
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-4 space-y-4 sm:mt-6 sm:flex sm:flex-wrap sm:items-center sm:justify-between sm:space-y-0"
    >
      <div class="text-sm text-gray-600 sm:flex sm:flex-wrap sm:space-x-1">
        &copy; 2022 redpencil.io | All rights reserved.
      </div>
      <Socials />
    </div>
  </div>
</footer>