<footer class="container">
  <div class="w-full flex flex-wrap md:border-t py-12">
    <div class="w-full md:w-1/3 mb-12">
      <LinkTo @route="index" class="font-bold w-1/3 text-3xl">Redpencil<span class="text-red-600">.</span>io</LinkTo>
    </div>
    <div class="w-full md:w-2/3 sm:flex sm:flex-wrap">

      <div class="flex-1 mb-12">
        <h5 class="text-lg font-bold mb-4">Resources</h5>
        <ul class="">
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Resource</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Resource name</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Another resource</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Final resource</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mb-12">
        <h5 class="text-lg font-bold mb-4">About</h5>
        <ul class="">
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Team</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Locations</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Privacy</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Terms</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mb-12">
        <h5 class="text-lg font-bold mb-4">Help</h5>
        <ul class="">
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Support</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Help Center</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-700 font-thin">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    {{!-- <div class="border-t py-6">
      <div class="sm:w-full px-4 md:w-1/6">
        &copy; 2021 Redpencil.io
      </div>
    </div> --}}
  </div>
</footer>