<footer class="py-6 bg-gradient-to-r from-black to-gray-900">
  <div class="container">
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 sm:px-6 py-12 border-b border-gray-700 space-y-8 lg:space-y-0">
    <LinkTo @route="index">
      <img class="h-6" src="/assets/vector/rpio-logo-light.svg" alt="redpencil.io">
    </LinkTo>
    <div class="sm:col-start-1 lg:col-start-2">
      <h2 class="text-lg text-gray-100 font-medium mb-4">Work office</h2>
      <div class="text-gray-400 whitespace-no-wrap">
        <a href="https://www.becentral.org" class="underline">
          BeCentral campus
        </a><br>
        Cantersteen 10<br>
        1000 Brussels<br>
        Belgium
      </div>
    </div>
    <div class="">
      <h2 class="text-lg text-gray-100 font-medium mb-4">Legal</h2>
      <div class="space-y-2">
        <div class="text-gray-400 whitespace-no-wrap">
          P.P. Rubensstraat 37a<br>
          1880 Kapelle-op-den-Bos<br>
          Belgium
        </div>
        <div>
          <div class="text-gray-400 whitespace-no-wrap">
            VAT BE 0681.569.312
          </div>
          <div class="text-gray-400 whitespace-no-wrap">
            IBAN BE68 7360 4161 9734
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 sm:mt-6 space-y-4 sm:flex sm:flex-wrap sm:justify-between sm:items-center sm:space-y-0">
    <div class="sm:flex sm:flex-wrap sm:space-x-1 text-sm text-gray-400">
      &copy; 2021 redpencil.io | All rights reserved.
    </div>
    <Socials/>
  </div>
</div>
</footer>