<nav class="container fixed h-16 w-full z-20 bg-white border-b border-gray-100 {{if this.isOpenMenu "h-screen overflow-auto"}}">
  <div class="flex items-center justify-between py-5">
    <LinkTo @route="index" class="mr-6">
      <img class="h-6" src="/assets/vector/rpio-logo.svg" alt="redpencil.io">
    </LinkTo>

    {{!-- Mobile menu toggle --}}
    <div class="ml-8 lg:hidden">
      <button type="button" class="text-black" {{on "click" this.toggleMenu}}>
        {{svg-jar "hamburger-menu" class="w-6 h-6 hover:text-red-600"}}
        <span class="sr-only">Toggle navigation menu</span>
      </button>
    </div>

    {{!-- Non-mobile menu items --}}
    <div class="hidden lg:block">
      <ul class="flex justify-between items-center space-x-12">
        <li class="text-base font-semibold text-gray-800 hover:text-red-600">
          <LinkTo @route="services">Services</LinkTo>
        </li>
        <li class="text-base font-semibold text-gray-800 hover:text-red-600">
          <LinkTo @route="projects">Projects</LinkTo>
        </li>
        <li class="text-base font-semibold text-gray-800 hover:text-red-600">
          <LinkTo @route="who-we-are">Who we are</LinkTo>
        </li>
        <li class="text-base font-semibold text-gray-800 hover:text-red-600">
          <LinkTo @route="careers">Careers</LinkTo>
        </li>
      </ul>
    </div>

    <div class="hidden lg:block">
      <LinkTo @route="contact"
        class="bg-gray-800 text-sm text-gray-100 px-12 py-2 rounded-md font-bold hover:bg-gray-700">
        Contact
      </LinkTo>
    </div>
  </div>

  {{!-- Mobile menu --}}
  {{#if this.isOpenMenu}}
    <section class="py-8">
      <h1 class="pb-4 border-b-2 border-gray-600 text-lg font-medium text-gray-800 uppercase tracking-wide">
        Menu
      </h1>
      <ul class="mt-6 space-y-6">
        <li class="text-2xl font-medium text-gray-800">
          <LinkTo @route="services">Services</LinkTo>
        </li>
        <li class="text-2xl font-medium text-gray-800">
          <LinkTo @route="projects">Projects</LinkTo>
        </li>
        <li class="text-2xl font-medium text-gray-800">
          <LinkTo @route="who-we-are">Who we are</LinkTo>
        </li>
        <li class="text-2xl font-medium text-gray-800">
          <LinkTo @route="careers">Careers</LinkTo>
        </li>
        <li class="text-2xl font-medium text-gray-800">
          <LinkTo @route="contact">Contact</LinkTo>
        </li>
      </ul>
    </section>
  {{/if}}
</nav>

<div class="h-16">
  {{!-- Fixed header whitespace --}}
</div>