<div class="page-header">
  <div class="page-header-inner">
    <div class="page-header-content">
      <h1 class="page-header-title">{{@title}}</h1>
      <h2 class="page-header-text">{{@text}}</h2>
    </div>
  </div>
</div>