<div class='container'>
  <div class='flex items-center py-12 md:py-20'>
    <div class='w-full lg:w-2/3'>
      <h1
        class='mb-3 text-4xl font-medium text-zinc-950 lg:text-6xl'
      >{{@title}}</h1>
      <h2
        class='w-full text-base font-normal text-gray-700 lg:text-xl'
      >{{@text}}</h2>
    </div>
  </div>
</div>