<div class="container">
  <div class="flex items-center py-12 md:py-20">
    <div class="w-full lg:w-2/3">
      <h1 class="text-4xl lg:text-6xl font-medium mb-3 text-white">{{@title}}</h1>
      <h2 class="text-base lg:text-xl font-normal w-full text-gray-500">{{@text}}</h2>
    </div>
  </div>
</div>