<article class="border border-gray-200 rounded">
  <div class="bg-gray-100">
    <img class="h-64 w-full" src="{{@image}}" alt="{{@title}}">
  </div>
  <div class="px-6 py-6 md:py-8">
    <h3 class="mb-3 title-sm text-gray-800">
      {{@title}}
    </h3>
    <p class="text-sm md:text-base text-gray-600">
      {{@description}}
    </p>
  </div>
</article>
