<article class="service-card">
  <div class="service-card-illustration md:border">
    <img class="h-64 w-full" src={{@illustration}} alt={{@title}}>
  </div>
  <div class="service-card-header">
    <h3 class="service-card-title">{{@title}}</h3>
    <p class="service-card-text">{{@text}}</p>
  </div>
</article>