<article class='flex flex-col'>
  <div class='flex-1 border-gray-300 bg-gray-100 py-6 md:border'>
    <img class='h-64 w-full' src={{@illustration}} alt={{@title}} />
  </div>
  <div class='flex-1 bg-gray-100 px-3 pb-8 pt-0 text-left md:bg-white md:pt-5'>
    <h3
      class='mb-3 text-center text-xl font-medium text-gray-900 md:text-left'
    >{{@title}}</h3>
    <p
      class='text-center text-sm text-gray-500 md:text-left md:text-base'
    >{{@text}}</p>
  </div>
</article>