<article class="flex flex-col">
  <div class="flex-1 border-zinc-500 bg-gray-200 py-6 md:border md:bg-gray-100">
    <img class="h-64 w-full" src={{@illustration}} alt={{@title}} />
  </div>
  <div class="flex-1 bg-gray-200 px-3 pb-8 pt-0 text-left md:bg-white md:pt-5">
    <h3
      class="text-zic-950 mb-3 text-center text-xl font-medium md:text-left"
    >{{@title}}</h3>
    <p
      class="text-center text-sm text-zinc-800 md:text-left md:text-base"
    >{{@text}}</p>
  </div>
</article>