<div class='flex items-center space-x-2 text-gray-600'>
  <a class='block' href='mailto:info@redpencil.io'>
    {{svg-jar 'email' class='w-6 hover:text-red-600'}}
    <span class='sr-only'>Send us an email</span>
  </a>
  <a
    class='block'
    href='https://twitter.com/redpencilio'
    target='_blank'
    rel='noopener noreferrer'
  >
    {{svg-jar 'twitter' class='w-6 hover:text-blue-500'}}
    <span class='sr-only'>Visit our Twitter page</span>
  </a>
  <a
    class='block'
    href='https://www.linkedin.com/company/redpencilio/'
    target='_blank'
    rel='noopener noreferrer'
  >
    {{svg-jar 'linkedin' class='w-6 hover:text-blue-700'}}
    <span class='sr-only'>Visit our LinkedIn page</span>
  </a>
  <a
    class='block'
    href='https://github.com/redpencilio'
    target='_blank'
    rel='noopener noreferrer'
  >
    {{svg-jar 'github' class='w-6 hover:text-zinc-950'}}
    <span class='sr-only'>Visit our Github page</span>
  </a>
</div>