<section class="fixed hidden px-2 left-0 bottom-0 mb-6 z-30 xl:px-6 md:block">
  <article class="w-16 space-y-4">
    <img class="h-8" src="/assets/vector/socials/email.svg" alt="">
    <img class="h-8" src="/assets/vector/socials/linkedin.svg" alt="">
    <img class="h-8" src="/assets/vector/socials/github.svg" alt="">
    <img class="h-8" src="/assets/vector/socials/docker.svg" alt="">
    <img class="h-8" src="/assets/vector/socials/twitter.svg" alt="">
  </article>
</section>