
  <div class="flex items-center space-x-2 text-gray-800">
    <a class="block" href="mailto:info@redpencil.io">
      <svg class="w-6 hover:text-red-600" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        viewBox="0 0 216 216" fill="currentColor">
        <path d="M108,0C48.353,0,0,48.353,0,108s48.353,108,108,108s108-48.353,108-108S167.647,0,108,0z M156.657,60L107.96,98.498
          L57.679,60H156.657z M161.667,156h-109V76.259l50.244,38.11c1.347,1.03,3.34,1.545,4.947,1.545c1.645,0,3.073-0.54,4.435-1.616
          l49.374-39.276V156z" />
      </svg>
      <span class="sr-only">Email us</span>
    </a>
    <a class="block" href="https://twitter.com/redpencilio">
      <svg class="w-6 hover:text-red-600" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path
          d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm116.886719 199.601562c.113281 2.519532.167969 5.050782.167969 7.59375 0 77.644532-59.101563 167.179688-167.183594 167.183594h.003906-.003906c-33.183594 0-64.0625-9.726562-90.066406-26.394531 4.597656.542969 9.277343.8125 14.015624.8125 27.53125 0 52.867188-9.390625 72.980469-25.152344-25.722656-.476562-47.410156-17.464843-54.894531-40.8125 3.582031.6875 7.265625 1.0625 11.042969 1.0625 5.363281 0 10.558593-.722656 15.496093-2.070312-26.886718-5.382813-47.140624-29.144531-47.140624-57.597657 0-.265624 0-.503906.007812-.75 7.917969 4.402344 16.972656 7.050782 26.613281 7.347657-15.777343-10.527344-26.148437-28.523438-26.148437-48.910157 0-10.765624 2.910156-20.851562 7.957031-29.535156 28.976563 35.554688 72.28125 58.9375 121.117187 61.394532-1.007812-4.304688-1.527343-8.789063-1.527343-13.398438 0-32.4375 26.316406-58.753906 58.765625-58.753906 16.902344 0 32.167968 7.144531 42.890625 18.566406 13.386719-2.640625 25.957031-7.53125 37.3125-14.261719-4.394531 13.714844-13.707031 25.222657-25.839844 32.5 11.886719-1.421875 23.214844-4.574219 33.742187-9.253906-7.863281 11.785156-17.835937 22.136719-29.308593 30.429687zm0 0" />
      </svg>
       <span class="sr-only">Visit our twitter page</span>
    </a>
    <a class="block" href="https://www.linkedin.com/company/redpencilio/">
      <svg class="w-6 hover:text-red-600" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path
          d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0" />
      </svg>
      <span class="sr-only">Visit our linkedin page</span>
    </a>
    <a class="block" href="https://github.com/redpencilio">
      <svg class="w-6 hover:text-red-600" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path
          d="m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z" />
      </svg>
      <span class="sr-only">Visit our github page</span>
    </a>
    <a class="block" href="https://hub.docker.com/u/redpencil">

      <svg class="w-6 hover:text-red-600" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 512 512" fill="currentColor">
        <g>
          <path xmlns="http://www.w3.org/2000/svg"
            d="M512,256c0,141.385-114.615,256-256,256S0,397.385,0,256S114.615,0,256,0  c130.497,0,238.184,97.646,253.994,223.859c1.149,9.122,1.818,18.39,1.964,27.784C511.99,253.095,512,254.548,512,256z"
            data-original="#006bc0" class="" />
          <g xmlns="http://www.w3.org/2000/svg">
            <path
              d="M511.958,251.643c-21.859,26.624-64.69,24.545-64.69,24.545   c-26.415,113.8-185.94,171.719-296.699,143.266C39.821,391.011,55.056,258.915,55.056,258.915h324.138   c26.749,0,28.787-8.129,28.787-8.129c-23.709-56.226,12.873-86.371,12.873-86.371c28.453,5.089,35.558,53.854,35.558,53.854   c23.353-4.19,42.109,0.794,53.582,5.59C511.143,232.981,511.812,242.249,511.958,251.643z"
              fill="#f2f2f2" data-original="#f2f2f2" class="" />
            <rect x="89.6" y="207.433" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="146.641" y="207.433" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="317.743" y="207.433" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="260.712" y="207.433" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="260.712" y="101.763" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="203.671" y="207.433" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="146.641" y="154.593" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="260.712" y="154.593" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
            <rect x="203.671" y="154.593" width="45.39" height="41.32" fill="#f2f2f2" data-original="#f2f2f2"
              class="" />
          </g>
          </g>
      </svg>
       <span class="sr-only">Visit our dockerhub page</span>
      </a>
  </div>
