<section class="fixed hidden px-2 left-0 bottom-0 mb-6 z-30 xl:px-6 md:block">
  <article class="w-8 space-y-2">
    <a class="block" href="mailto:info@redpencil.io"><img src="/assets/vector/socials/email.svg" alt="email"></a>
    <a class="block" href="https://twitter.com/redpencilio"><img src="/assets/vector/socials/twitter.svg" alt="twitter"></a>
    <a class="block" href="https://www.linkedin.com/company/redpencilio/"><img src="/assets/vector/socials/linkedin.svg" alt="linkedin"></a>
    <a class="block" href="https://github.com/redpencilio"><img src="/assets/vector/socials/github.svg" alt="github"></a>
    <a class="block" href="https://hub.docker.com/u/redpencil"><img src="/assets/vector/socials/docker.svg" alt="docker"></a>
  </article>
</section>
