<ul class="grid grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-5">
  {{#each this.logos as |logo|}}
    <li
      class="flex items-center justify-center rounded border border-zinc-300 bg-zinc-50 p-2 md:p-4"
    >
      <img
        class="h-8 lg:h-12"
        src="/assets/vector/logos/{{logo.image}}"
        alt={{logo.name}}
      />
    </li>
  {{/each}}
</ul>