<section class="projects arch">
  <Navbar @dark={{true}} />
  <Breadcrumbs @dark={{true}} />
  <article class="container mb-12 text-white">
    <h1 class="title-primary--dark">Our projects</h1>
    <h2 class="title-secondary--dark">We take a problem and transform the solution into art</h2>
  </article>
</section>
<div class=" min-h-screen">
  <section class="flex container flex-wrap mb-24">
    <LinkTo @route="projects.lblod" class="card" >  
      <article class="card-inner">
        <div class="card-img"></div>
        <h3 class="card-title">LBLOD</h3>
        <p class="card-text">Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
      </article>
    </LinkTo>
      <LinkTo @route="projects.lblod" class="card">  
      <article class="card-inner">
         <div class="card-img"></div>
        <h3 class="card-title">Kaleidos</h3>
        <p class="card-text">Kaleidos is the digital platform supporting for managing and working on documents related to the Flemish government’s decision-making process.</p>
      </article>
    </LinkTo>
  </section>
</div>