<div class='bg-gradient-to-br from-black to-zinc-950 pb-64 md:pb-36'>
  <Navbar />

  <PageHeader
    @title='Our projects'
    @text='We take a problem and transform the solution into art.'
  />

  <section class='container mb-12 flex flex-col space-y-6 md:mb-24 lg:mb-32'>
    <h2 class='sr-only'>Projects with pages</h2>
    <ProjectCard
      @title='LBLOD'
      @text='Local Decisions as Linked Open Data is a project by the Flemish Agency for Local Government'
      @linkTo='projects.lblod'
      @illustration='/assets/pixel/digitaal-loket.png'
    />

    <ProjectCard
      @title='Kaleidos'
      @text='Kaleidos is a digital platform for managing and working on documents related to the Flemish government’s decision-making process'
      @linkTo='projects.kaleidos'
      @illustration='/assets/pixel/kaleidos.png'
    />
  </section>

</div>

<section class='container -mt-48 mb-12 md:-mt-36 md:mb-24 lg:mb-32'>
  <div
    class='mb-4 flex flex-col justify-between border-gray-600 pb-1 md:mb-6 md:flex-row md:border-b'
  >
    <h2
      class='mb-4 text-lg font-medium text-white md:mb-0 md:border-none md:text-2xl'
    >Other projects</h2>
    <div
      class='flex items-center space-x-2 text-xs text-blue-200 md:p-2 md:text-sm'
    >
      <svg
        class='text-blue-500'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        width='24'
        height='24'
      >
        <path fill='none' d='M0 0h24v24H0z' />
        <path
          d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z'
          fill='currentColor'
        />
      </svg>
      <div class='font-normal text-white'>These projects do not have their own
        pages yet
      </div>
    </div>
  </div>

  <ul class='grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-6'>
    <ConstructionCard
      @title='ToeVla'
      @text='Toegankelijk Vlaanderen (accessible Flanders) is a website and database containing reliable information about the accessibility of public buildings in Flanders'
      @complete={{false}}
      @illustration='/assets/pixel/toevla-logo.png'
    >
      <a
        class='rounded border border-gray-300 bg-white px-8 py-2 text-xs font-medium text-gray-900 hover:bg-gray-200 md:py-3 md:text-sm'
        href='https://inter.vlaanderen/toegankelijk-vlaanderen'
        target='_blank'
        rel='noopener noreferrer'
      >Learn more</a>
      <a
        class='rounded border border-gray-300 bg-white px-8 py-2 text-xs font-medium text-gray-900 hover:bg-gray-200 md:py-3 md:text-sm'
        href='https://toevla.vlaanderen.be/publiek/nl/register/start'
        target='_blank'
        rel='noopener noreferrer'
      >Visit</a>
    </ConstructionCard>

    <ConstructionCard
      @title='Luisterpunt'
      @text='The Flemish library for the visual impaired'
      @complete={{false}}
      @illustration='/assets/vector/logos/luisterpunt.svg'
    >
      <a
        class='rounded border border-gray-300 bg-white px-8 py-2 text-xs font-medium text-gray-900 hover:bg-gray-200 md:py-3 md:text-sm'
        href='https://www.luisterpuntbibliotheek.be/nl/english'
        target='_blank'
        rel='noopener noreferrer'
      >Learn more</a>
    </ConstructionCard>

    <ConstructionCard
      @title='IPFS-search'
      @text='A decentralized search engine for the Interplanetary Filesystem'
      @complete={{false}}
      @illustration='/assets/vector/logos/ipfs-search.svg'
    >
      <a
        class='rounded border border-gray-300 bg-white px-8 py-2 text-xs font-medium text-gray-900 hover:bg-gray-200 md:py-3 md:text-sm'
        href='https://ipfs-search.com/#/search'
        target='_blank'
        rel='noopener noreferrer'
      >Visit</a>
      <a
        class='rounded border border-gray-300 bg-white px-8 py-2 text-xs font-medium text-gray-900 hover:bg-gray-200 md:py-3 md:text-sm'
        href='https://github.com/ipfs-search/ipfs-search'
        target='_blank'
        rel='noopener noreferrer'
      >git repo</a>
    </ConstructionCard>
  </ul>
</section>