<header class="projects">
  <Navbar />
  <Breadcrumbs />
</header>
<section class="projects-header">
  <article class="flex-1">
    <h1 class="title-xl">Our projects</h1>
    <h2 class="title-md-thin mb-12">We take a problem and transform the solution into <span class="font-bold">art</span> </h2>
</article>

  <article class="flex-1">
    <button type="button" class="button-pill button-pill--active">All Projects</button>
    <button type="button" class="button-pill">LBLOD</button>
    <button type="button" class="button-pill">Kaleidos</button>
    <button type="button" class="button-pill">ToeVla</button>
    <button type="button" class="button-pill">Linked data</button>
    <button type="button" class="button-pill">Accessibility</button>
    <button type="button" class="button-pill">Government</button>
    <button type="button" class="button-pill">Open-source</button>
  </article>
</section>

<section class="projects-cards">
  <LinkTo @route="projects.lblod" class="card">
    <article class="card-inner space-y-6">
      <div class="card-img bg-lblod ">
        <div class="inline-block ml-3">
          <div class="bg-gray-900 px-10 py-4 inline-block text-white">
            <h1 class="title-sm">LBLOD</h1>
            <h2 class="title-xs">Lokale Besluiten Linked Open Data</h2>
          </div>
        </div>
      </div>
      <p class="card-text mb-3">Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a
        project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
  <LinkTo @route="projects.kaleidos" class="card">
    <article class="card-inner space-y-6">
      <div class="card-img bg-kaleidos">
        <div class=" inline-block ml-3">
          <div class="bg-gray-900 px-10 py-8 inline-block text-white">
            <h1 class="title-sm">Kaleidos</h1>
          </div>
        </div>
      </div>
      <p class="card-text ">Kaleidos is the digital platform supporting for managing and working on documents related
        to the Flemish government’s decision-making process.</p>
    </article>
  </LinkTo>
  <LinkTo @route="projects.toevla" class="card">

    <article class="card-inner space-y-6">
      <div class="card-img bg-toevla">
        <div class=" inline-block ml-3">
          <div class="bg-gray-900 px-10 py-4 inline-block text-white">
            <h1 class="title-sm">ToeVla</h1>
            <h2 class="title-xs">Toegankelijk Vlaanderen</h2>
          </div>
        </div>
      </div>
      <p class="card-text">ToeVla stands for Toegankelijk Vlaanderen.
        This project aims to give public places the opportunity to integrate a widget on there website.</p>
    </article>
  </LinkTo>
  <LinkTo @route="contact" class="card">
    <article class="card-inner space-y-6">
      <div class="card-img flex justify-center items-center border-2 border-gray-300 text-gray-400">
        <svg class="w-24 h-24 mb-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
            clip-rule="evenodd"></path>
        </svg>
        <p class="text-md ">Create a new project</p>
      </div>
    </article>
  </LinkTo>
</section>

<section class="banner">
  <article class="banner-inner">
    <div class="banner-call">
      <h2 class="banner-title">Get to know us </h2>
      <h3 class="banner-text">Book a meeting</h3>
    </div>
    <div>
        <button type="button" class="banner-button"> <span
            class="banner-text-outer"> Start a new experience </span> <span
            class="banner-text-inner"> Careers</span></button>
    </div>
  </article>
</section>