<div
  class="mb-12 r_border-b-light bg-gradient-to-r from-zinc-200 to-zinc-50 pb-0 md:mb-0 md:pb-24"
>
  <Navbar />

  <PageHeader
    @title="Our projects"
    @text="We take a problem and transform the solution into art."
  />

  <section class="container mb-12 flex flex-col space-y-6 md:mb-24 lg:mb-32">
    <h2 class="sr-only">Projects with pages</h2>
    <ProjectCard
      @title="LBLOD"
      @text="Local Decisions as Linked Open Data is a project by the Flemish Agency for Local Government"
      @linkTo="projects.lblod"
      @illustration="/assets/pixel/digitaal-loket.png"
    />

    <ProjectCard
      @title="Kaleidos"
      @text="Kaleidos is a digital platform for managing and working on documents related to the Flemish government’s decision-making process"
      @linkTo="projects.kaleidos"
      @illustration="/assets/pixel/kaleidos.png"
    />

    <ProjectCard
      @title="Transportdata.be"
      @text="Belgium's National Access Point for transport data, maintained and modernized by Redpencil with cloud-agnostic infrastructure"
      @linkTo="projects.transportdata"
      @illustration="/assets/pixel/transportdata.png"
    />
  </section>
</div>

<section class="container mb-12 md:-mt-36 md:mb-24 lg:mb-32">
  <div
    class="mb-4 flex flex-col justify-between md:r_border-b-light pb-1 md:mb-6 md:flex-row"
  >
    <h2 class="mb-4 text-lg font-medium r_text-dark md:mb-0 md:text-2xl">
      Other projects
    </h2>
    <div class="flex items-center text-xs md:p-2 md:text-sm font-normal">
      <InfoIcon class="mr-2" />
      These projects do not have their own pages yet
    </div>
  </div>

  <ul class="grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-6">
    <ConstructionCard
      @title="ToeVla"
      @text="Toegankelijk Vlaanderen (accessible Flanders) is a website and database containing reliable information about the accessibility of public buildings in Flanders"
      @illustration="/assets/pixel/toevla-logo.png"
    >
      <a
        class="rounded border-2 border-black bg-zinc-800 px-8 py-2 text-sm font-medium text-white hover:border-transparent hover:bg-zinc-950"
        href="https://inter.vlaanderen/toegankelijk-vlaanderen"
        target="_blank"
        rel="noopener noreferrer"
      >Learn more</a>
      <a
        class="rounded border-2 border-zinc-300 bg-white px-8 py-2 text-sm font-medium text-zinc-900 hover:border-transparent hover:bg-zinc-200"
        href="https://toevla.vlaanderen.be/publiek/nl/register/start"
        target="_blank"
        rel="noopener noreferrer"
      >Visit</a>
    </ConstructionCard>

    <ConstructionCard
      @title="Luisterpunt"
      @text="The Flemish library for the visual impaired"
      @illustration="/assets/vector/logos/luisterpunt.svg"
    >
      <a
        class="rounded border-2 border-black bg-zinc-800 px-8 py-2 text-sm font-medium text-white hover:border-transparent hover:bg-zinc-950"
        href="https://www.luisterpuntbibliotheek.be/nl/english"
        target="_blank"
        rel="noopener noreferrer"
      >Learn more</a>
    </ConstructionCard>

    <ConstructionCard
      @title="IPFS-search"
      @text="A decentralized search engine for the Interplanetary Filesystem"
      @illustration="/assets/vector/logos/ipfs-search.svg"
    >
      <a
        class="rounded border-2 border-black bg-zinc-800 px-8 py-2 text-sm font-medium text-white hover:border-transparent hover:bg-zinc-950"
        href="https://ipfs-search.com/#/search"
        target="_blank"
        rel="noopener noreferrer"
      >Visit</a>
      <a
        class="rounded border-2 border-zinc-300 bg-white px-8 py-2 text-sm font-medium text-zinc-900 hover:border-transparent hover:bg-zinc-200"
        href="https://github.com/ipfs-search/ipfs-search"
        target="_blank"
        rel="noopener noreferrer"
      >git repo</a>
    </ConstructionCard>

    <ConstructionCard
      @title="semantic.works"
      @text="Microservices based web framework fuelled by Linked Data and served by Docker"
      @illustration="/assets/vector/logos/semantic-works.svg"
    >
      <a
        class="rounded border-2 border-black bg-zinc-800 px-8 py-2 text-sm font-medium text-white hover:border-transparent hover:bg-zinc-950"
        href="https://semantic.works/"
        target="_blank"
        rel="noopener noreferrer"
      >Visit</a>
      <a
        class="rounded border-2 border-zinc-300 bg-white px-8 py-2 text-sm font-medium text-zinc-900 hover:border-transparent hover:bg-zinc-200"
        href="https://github.com/mu-semtech/"
        target="_blank"
        rel="noopener noreferrer"
      >git repo</a>
    </ConstructionCard>
  </ul>
</section>