<Navbar />
<Breadcrumbs />

<section class="container mb-24">
  <div class="w-full h-64 bg-kaleidos my-6 flex flex-col justify-center rounded-xl">
    <div class=" inline-block ml-6">
      <div class="bg-gray-900 px-12 py-4 inline-block">
        <h1 class="text-3xl text-white">Kaleidos</h1>
      </div>
    </div>
  </div>
</section>