<Breadcrumbs />

<section class="container mb-24">
  <div class="w-full h-64 bg-kaleidos mt-6 flex flex-col justify-center rounded-xl margin-bottom-medium">
    <div class=" inline-block ml-6">
      <div class="bg-gray-900 px-16 py-4 inline-block rounded-lg">
        <h1 class="title-md text-white mb-0">Kaleidos</h1>
      </div>
    </div>
  </div>

  <article class="w-1/2 margin-bottom-large">
    <h2 class="title-lg margin-bottom-xsmall">Introduction</h2>
    <p class="">
      With Kaleidos we develop a digital platform that supports the administrative flow of the decision-making process
      of
      the Flemish Government. It will provide Flemish officials and politicians with an efficient, paperless document
      flow
      as they draft, prepare, and decide policy documents and council meeting agendas.
      With automatic metadata enrichment and Linked Open Data publication, Kaleidos will also improve government
      transparency by providing better access for the public to government decisions.
    </p>
  </article>
  <div class="bg-gray-100 px-12 py-6 flex flex-col text-center margin-bottom-large">
    <p class="italic font-medium text-lg margin-bottom-xsmall">
      “We are evolving from a government that worked on the basis of individual paper documents to a government that
      works
      on the basis of digital information flows, digital and interactive networks, linked databases”.</p>
    <span class="text-sm font-medium"> Conceptnota Vlaanderen Radicaal Digitaal 2015-2019</span>
  </div>
  <article class="margin-bottom-large">
    <h2 class="title-lg margin-bottom-small">How Kaleidos will improve government </h2>
    <div class="grid grid-cols-2 gap-6">
      <div class="bg-gray-100 p-12">
        <h3 class="title-md margin-bottom-xsmall">Efficiency</h3>
        <ul class="font-medium">
          <li class="py-3"><span class="text-lg font-bold">></span> Simplifying and accelerating the efficiency of the administration by creating a paperless
            document flow</li>
          <li class="py-3"><span class="text-lg font-bold">></span> Support the document approval stages from submission to publication</li>
          <li class="py-3"><span class="text-lg font-bold">></span> Document version control.</li>
          <li class="py-3"><span class="text-lg font-bold">></span> Reveal relationships between documents and files</li>
        </ul>
      </div>
      <div class="bg-gray-100 p-12">
        <h3 class="title-md margin-bottom-xsmall">Transparency</h3>
        <ul class="font-medium space-y-3">
          <li class="py-3"><span class="text-lg font-bold">></span> Support for metadata enrichment for legislative texts in a transparent manner and by making them
            available
            within a
            clear timeline.
          </li>
          <li class="py-3"><span class="text-lg font-bold">></span> Disseminating the information contained in policy decisions to the public as Linked Open Data</li>
          <li class="py-3"><span class="text-lg font-bold">></span> It will simplify and standardise the publication process for policy decision documents</li>
        </ul>
      </div>
    </div>
  </article>



  As part of Kaleidos, Redpencil has helped design the strategic vision, the data model, business analysis,
  implementation planning, development coordination, coding, testing and support.

  Within the frame of the Kaleidos project, we have adapted, developed, and improved multiple modules of the
  semantic.works stack, including the authorisation and search models, monitoring, redundancy setup. For the frontend
  setup and design, we collaborated with external partners.

  We believe that Kaleidos will improve the decision making and transparency of the Flemish government. We are proud to
  contribute to increasing the transparency and efficiency of the Flemish democratic process with Open Source and Linked
  Data solutions.


</section>