{{page-title "Projects | Kaleidos"}}

<Breadcrumbs />

<section class="container mb-24">
  <div class="w-full h-64 bg-kaleidos my-6 flex flex-col justify-center rounded-xl">
    <div class=" inline-block ml-6">
      <div class="bg-gray-900 px-16 py-4 inline-block rounded-lg">
        <h1 class="title-md text-white mb-0">Kaleidos</h1>
      </div>
    </div>
  </div>
</section>

<Banner/>