<div class="bg-gradient-to-br from-black to-gray-900 pb-48">
  <Navbar />
</div>
<Projects::Header @background="bg-kaleidos" @title="KALEIDOS" />

<div class="container flex flex-col items-center">
  <section class="w-2/3 mb-24">
    <h2 class="mb-6">
      Making decisions true
    </h2>
    <p class="leading-relaxed">
      “We are evolving from a government that works on the basis of individual paper documents to a government that
      works on the basis of digital information flows, digital and interactive networks, linked databases”. Extract
      translated from: Conceptnota Vlaanderen Radicaal Digitaal 2015-2019, p13
      (https://www.vlaanderen.be/publicaties/vlaanderen-radicaal-digitaal-2015-2019)
      With the Kaleidos project Redpencil is supporting the development of a digital platform that supports the
      decision-making process of the Flemish Government.</p>
    <br>
    <h3 class="font-medium">
      With the RDF based application it is possible to:
    </h3>
    <ul class="list-disc pl-5">
      <li>draft the agenda based on the proposals of agenda points</li>
      <li>register the legislative texts with metadata in a transparent manner,</li>
      <li>support the approval stages from submission to publication,</li>
      <li>disseminate the information about the decisions of the Flemish government to stakeholders and publication
        channels (administration, press, Mailchimp, website, open data platform)</li>
      <li>search the full text of the entire archive of digitised decisions of the Flemish Government</li>
    </ul>
  </section>


  <section class="w-2/3 mb-24">
    <h2 class="mb-6">
      We choose to do this not because it is easy
    </h2>
    <p class="leading-relaxed">
      The program involves aligning objectives and the redesign of processes with the services of the Chancellery
      (legal, secretary, communications, publications, finance), central user and authorisation management of the
      Flemish Government, central IT services for website and mail, 9 different political cabinets, 9 government
      departments, the Flemish Parliament and several other institutions. Every minor or major upgrade must be deployed
      in such a way that the governmental work can proceed without interruption. In every step strong controls are
      required, but equally there must be an option for flexibility to bend for specific edge cases. And all functions
      need to be intuitive.
      The Kaleidos project was the driver to add a number of major modules to the semantic.works stack: rolling data
      driven authorisation, model driven full text search, HTTP-monitoring between the micro services, redundancy setup.
      Redpencil is proud to contribute to facilitating and supporting the decision making and the transparency of the
      democratic decision process with open-source software activating linked data.
    </p>
  </section>

  <section class="w-2/3 mb-24">
    <h2 class="mb-6">
      Data First
    </h2>
    <p class="leading-relaxed">
      The entire platform is based on the data model for decision making, established with the business
      (https://data.vlaanderen.be/doc/applicatieprofiel/besluitvorming/)
      Implementing all functionality on this data model, we aim to:
      - simplify and accelerate the efficiency of the administration
      - enrich the registration of the decision steps and documents
      - increase the transparency of the supporting administrative processes
    </p>
  </section>


  <section class="w-2/3 mb-24">
    <h2 class="mb-6">
      And more
    </h2>
    <p class="leading-relaxed">
      In the slipstream of the application for the actual management of the agenda and files, we also developed an
      application for disseminating the files of the intergovernmental Overleg Comité and we developed the platform
      which makes the public available information about the formation of the governments and the decisions available as
      open data.
    </p>
  </section>
</div>