{{page-title "Projects | LBLOD"}}

<Breadcrumbs />
<section class="lblod-art">
  <div class="lblod-art-inner">
    <div class="lblod-header">
      <div class="lblod-header-inner">
        <h1 class="title-md text-white mb-0">LBLOD</h1>
        <h2 class="title-sm-thin text-white mb-0">Lokale Besluiten Linked Open Data</h2>
      </div>
    </div>
  </div>
</section>
<section class="lblod-section">
  <div class="lblod-article">
    <h2 class="title-lg">Introduction</h2>
    <h3 class="title-sm-thin mb-6">A short <span class="font-bold">description</span> </h3>
    <p class="mb-16 text-gray-700">Lokale Besluiten als geLinkte Open Data (Local Decisions as Linked Open Data) is a
      project
      by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), undertaken to increase the
      quality of its data streams from the local governments in the communities around Flanders to the regional
      government and to increase transparency and accessibility around the policy decisions of the local governments.

      LBLOD is great
    </p>
  </div>

  <div class="lblod-video">
    <iframe title="lblod" height="400" src="https://www.youtube.com/embed/DsMbDIkUwMY" class="shadow top-100 left-50 w-full"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

</section>
<section class="lblod-section">
  <div class="lblod-gif">
    <img src="/assets/pixel/editor.gif" alt="editor">
  </div>
  <div class="lblod-article">
    <h2 class="title-lg">Innovation</h2>
    <h3 class="title-sm-thin mb-6">Smart editor</h3>
    <p class="mb-16 text-gray-700">To achieve this a smart editor is put in place that supports drafting and registering the
      decisions (the meeting minutes of the local council) in a structured and tagged way and suggesting references to
      people, laws, entities that already have been registered., information about new local policy will be harvested
      from the relevant documents and distributed automatically in standardized formats. This means that not only will
      the ABB’s oversight capacity be more automated, but the data can be easily integrated into third-party services.
    </p>
  </div>
</section>

<section class="masterpiece">
    <div class="masterpiece-header">
      <h2 class="title-lg">Masterpiece</h2>
      <h3 class="title-sm-thin mb-6">Awards wining project</h3>
      <p class="text-gray-700 w-full lg:w-2/3 mb-12">LBLOD has been recognized as a project that improves the efficiency and
        openness of local governance in
        Flanders, and has been awarded the following prizes
      </p>
    </div>
    <ul class="awards-list">
      <li class="awards-list-item">
        <span class="awards-date">12 Jun 2019</span>
        <div class="md:flex-grow">
          <h2 class="awards-title">Gold prize Technology</h2>
          <p class="leading-relaxed">The Publica Awards reward the best public projects and in this way put public actors and
          their partners in the spotlight.</p>
        </div>
        <div class="award-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
        </div>
      </li>
      <li class="awards-list-item">
        <span class="awards-date">12 Jun 2019</span>
        <div class="md:flex-grow">
          <h2 class="awards-title">‘Open Data’ category at Agoria e-gov Awards</h2>
          <p class="leading-relaxed">Agoria is the trade association for the Belgian technology industry</p>
        </div>
        <div class="award-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
        </div>
      </li>
      <li class="awards-list-item">
        <span class="awards-date">12 Jun 2019</span>
        <div class="md:flex-grow">
          <h2 class="awards-title">Best Large ICT-project
          </h2>
          <p class="leading-relaxed">Awarded by Belgian computer magazine DataNews</p>
        </div>
        <div class="award-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
        </div>
      </li>
       <li class="awards-list-item">
        <span class="awards-date">12 Jun 2019</span>
        <div class="md:flex-grow">
          <h2 class="awards-title">Gouden Byte’ by V-ICT-OR
          </h2>
          <p class="leading-relaxed">Awarded for best intergovernmental IT project</p>
        </div>
        <div class="award-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
        </div>
      </li>
    </ul>
</section>

<section class="lblod-elements">
  <div class="lblod-elements-header">
    <h2 class="title-lg">Key elements</h2>
    <h3 class="title-sm-thin mb-6">More then what meets the eye</h3>
    <p class="text-gray-700 w-full lg:w-2/3 mb-12">LBLOD is an ensemble of many elements that work together in harmony. A true revolution
      in the way in
      transformed
      the way the flemish government handles data.</p>
  </div>
  <ul class="lblod-elements-list">
    <li class="lblod-elements-list-item">
      <h4 class="font-bold text-xl mb-2">Data architecture</h4>
      <p class="text-sm">to ensure a smooth flow of data throughout the project applications we have adapted the
        open-source
        semantic.works microservice framework to the domain of reporting on the decisions at the level of the community
        council. project.
      </p>
    </li>
    <li class="lblod-elements-list-item">
      <h4 class="font-bold text-xl mb-2">Loket</h4>
      <p class="text-sm"> Loket voor Lokale Besturen’ is a digital portal for sharing data between the Agendschap
        Binnenlandse Bestuur
        and the local governments of Flanders.</p>
    </li>
    <li class="lblod-elements-list-item">
      <h4 class="font-bold text-xl mb-2 ">Gelink Notuleren</h4>
      <p class="text-sm">A cornerstone of LBLOD, ‘Linked Minutes’ is a semantic word processor. When used with official
        documents
        related to local governance decision making, it collects and distributes relevant information as structured
        data. The publicly available Say-editor is based on this project.</p>
    </li>
    <li class="lblod-elements-list-item">
      <h4 class="font-bold text-xl mb-2">Data distribution services</h4>
      <p class="text-sm">to ensure a smooth flow of data throughout the project applications we have adapted the
        open-source
        semantic.works microservice framework to the domain of reporting on the decisions at the level of the community
        council. project.
      </p>
    </li>
  </ul>

</section>

<Banner/>