<div
  class="r_border-b-light bg-gradient-to-r from-zinc-200 to-zinc-50 pb-48"
>
  <Navbar />
</div>

<Projects::Header
  @background="bg-lblod"
  @title="LBLOD"
  @text="Lokale Besluiten Linked Open Data"
/>

<div class="container flex flex-col items-center r_text-dark">
  <div class="w-full md:w-2/3">
    <section class="mb-24">
      <h2 class="mb-2 text-2xl text-zinc-950 md:mb-6 md:text-3xl">
        A short introduction
      </h2>
      <p class="mb-12 text-base leading-relaxed md:text-lg">
        Lokale Besluiten als geLinkte Open Data
        <span class="text-sm">(Local Decisions as Linked Open Data)</span>
        is a project by the Flemish Agency for Local Government
        <span class="text-sm">(Agentschap Binnenlands Bestuur - ABB)</span>,
        launched in 2015 to increase the quality of the data streams between
        local administration, the Flemish government, and the public. The aim is
        to increase the efficiency of administration and provide better access
        to public information.
        <br />
        <br />
        Redpencil is proud to have helped the Flemish agency for Local
        Government develop an award-winning new framework for sharing,
        recording, and publishing the policy decisions of municipalities,
        provinces, and other local organizations as Linked Open Data
      </p>

      <div class="h-96 w-full flex-1">
        <iframe
          title="lblod"
          height="400"
          src="https://www.youtube.com/embed/DsMbDIkUwMY"
          class="top-100 left-50 w-full r_border-light"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>

    <section class="mb-12 md:mb-24">
      <h2 class="mb-2 text-2xl text-zinc-950 md:mb-6 md:text-3xl">
        A ‘data first’ application framework
      </h2>
      <p class="text-lg leading-relaxed">
        LBLOD is a web of distributed applications working together to create an
        ecosystem on top of a Linked Open Data platform. Redpencil worked with
        ABB to create a domain-specific data model and linked data vocabularies.
        We helped design exchange specifications between over 800 independent
        parties. We also collaborated with ABB to create an application for
        finding information about local officeholders
        <span class="text-sm">(<a
            href="https://mandaten.lokaalbestuur.vlaanderen.be/"
            class="text-blue-700"
            target="_blank"
            rel="noopener noreferrer"
          >Mandatendatabank</a>)</span>. Relevant data is also available through
        a SPARQL endpoint
        <span class="text-sm">(<a
            href="https://centrale-vindplaats.lblod.info/"
            class="text-blue-700"
            target="_blank"
            rel="noopener noreferrer"
          >Centrale Vindplaats</a>)</span>. LBLOD data is published as Linked
        Open Data for easy integration with third-party applications, web pages,
        and tools.
      </p>
    </section>

    <section class="mb-12 md:mb-24">
      <h2 class="mb-2 text-2xl text-zinc-950 md:mb-6 md:text-3xl">
        Gelinkt Notuleren — Linked minutes
      </h2>
      <p class="mb-6 text-base leading-relaxed md:text-lg">
        Streamlining processes and data flows is a central part of LBLOD. To
        achieve this, Redpencil developed a new semantic word processor.
        <br /><br />

        Gelinkt Notuleren simplifies the process of creating official meeting
        minutes and documents for local officials. It works in a browser,
        suggests text, imports links, and data — and automatically semantically
        annotates, reports, and publishes the decisions.
        <br /><br />

        Gelinkt Notuleren was made public as the Open Source project:
        <a
          href="https://say-editor.com/"
          class="text-blue-700"
          target="_blank"
          rel="noopener noreferrer"
        >Say-editor</a>.
      </p>
      <div class="mb-6 flex-1 rounded-lg r_border-light lg:mb-0">
        <img src="/assets/pixel/editor.gif" alt="editor" class="rounded-lg" />
      </div>
    </section>

    <section class="mb-12 md:mb-24">
      <h2 class="mb-2 text-2xl text-zinc-950 md:mb-6 md:text-3xl">
        Awards for LBLOD
      </h2>
      <p class="mb-6 text-lg leading-relaxed">
        LBLOD has been repeatedly recognized as a project that improves the
        efficiency and openness of local governance in Flanders
      </p>
      <ul class="flex-col space-y-2">
        <li
          class="flex flex-col items-start justify-center rounded-lg r_border-light bg-zinc-100 p-5"
        >
          <div
            class="mb-2 rounded border border-zinc-600 bg-zinc-800 px-2 py-px text-xs text-zinc-200"
          >11 Dec 2020</div>
          <div class="text-xl text-zinc-950">Gold prize Technology</div>
          <p class="text-sm text-zinc-800">The Publica Awards reward the best
            public projects and in this way put public actors and their partners
            in the spotlight.</p>
        </li>
        <li
          class="flex flex-col items-start justify-center rounded-lg r_border-light bg-zinc-100 p-5"
        >
          <div
            class="mb-2 rounded border border-zinc-600 bg-zinc-800 px-2 py-px text-xs text-zinc-200"
          >6 Dec 2019</div>
          <div class="text-xl text-zinc-950">‘Open Data’ category at Agoria
            e-gov Awards</div>
          <p class="text-sm text-zinc-800">Agoria is the trade association for
            the Belgian technology industry</p>
        </li>
        <li
          class="flex flex-col items-start justify-center rounded-lg r_border-light bg-zinc-100 p-5"
        >
          <div
            class="mb-2 rounded border border-zinc-600 bg-zinc-800 px-2 py-px text-xs text-zinc-200"
          >11 Nov 2019</div>
          <div class="text-xl text-zinc-950">Best Large ICT-project</div>
          <p class="text-sm text-zinc-800">Awarded by Belgian computer magazine
            DataNews</p>
        </li>
        <li
          class="flex flex-col items-start justify-center rounded-lg r_border-light bg-zinc-100 p-5"
        >
          <div
            class="mb-2 rounded border border-zinc-600 bg-zinc-800 px-2 py-px text-xs text-zinc-200"
          >14 Dec 2018</div>
          <div class="text-xl text-zinc-950">Gouden Byte’ by V-ICT-OR</div>
          <p class="text-sm text-zinc-800">Awarded for best intergovernmental IT
            project</p>
        </li>
      </ul>
    </section>

    <section class="mb-12 md:mb-24">
      <h2 class="mb-2 text-2xl text-zinc-950 md:mb-6 md:text-3xl">
        Key elements
      </h2>
      <p class="mb-6 text-lg leading-relaxed">
        LBLOD is an ensemble of many elements that work together in harmony. A
        true revolution in the way in transformed the way the flemish government
        handles data.
      </p>
      <ul
        class="divide-y divide-zinc-300 rounded-lg r_border-light bg-zinc-100"
      >
        <li class="p-6">
          <h3 class="mb-2 text-xl text-zinc-950">Data architecture</h3>
          <p class="text-sm text-zinc-800">To ensure a smooth flow of data
            throughout the project applications we have adapted the Open Source
            semantic.works microservice framework to the domain of reporting on
            the decisions at the level of the community council. project.
          </p>
        </li>
        <li class="p-6">
          <h3 class="mb-2 text-xl text-zinc-950">Digitaal Loket</h3>
          <p class="text-sm text-zinc-800">`Loket voor Lokale Besturen’ is a
            digital portal for sharing data between the Agentschap Binnenlands
            Bestuur and the local governments of Flanders.</p>
        </li>
        <li class="p-6">
          <h3 class="mb-2 text-xl text-zinc-950">Gelinkt Notuleren</h3>
          <p class="text-sm text-zinc-800">A cornerstone of LBLOD, ‘Linked
            Minutes’ is a semantic word processor. When used with official
            documents related to local governance decision making, it collects
            and distributes relevant information as structured data. The open
            source Say-editor is derived from this project.</p>
        </li>
        <li class="p-6">
          <h3 class="mb-2 text-xl text-zinc-950">Data distribution services</h3>
          <p class="text-sm text-zinc-800">Local government data is made
            available as Linked Open Data through services like Mandatendatabank
            and Centrale Vindplaats.
          </p>
        </li>
      </ul>

    </section>
  </div>
</div>