<section class="projects">
  <Navbar />
  <Breadcrumbs />
</section>

<section>
  <div class="w-full h-96 bg-lblod my-6 flex flex-col justify-center">
    <div class="container inline-block">
      <div class="bg-gray-darkest px-12 py-4 inline-block">
        <h1 class="title-primary--dark">LBLOD</h1>
        <h1 class="title-secondary--dark">Lokale Besluiten Linked Open Data</h1>
      </div>
    </div>
  </div>
</section>
<div class="container flex justify-center relative h-96">
  <iframe width="800" height="450" src="https://www.youtube.com/embed/DsMbDIkUwMY"
    class="shadow-lg top-100 left-50 -m-32" frameborder="5"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<section class="container flex space-x-32 mb-24">
  <article class="article">
    <h2 class="title-primary">Introduction</h2>
    <h3 class="title-secondary">A short description</h3>
    <p class="article-text">Lokale Besluiten als geLinkte Open Data (Local Decisions as Linked Open Data) is a project
      by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), undertaken to increase the
      quality of its data streams from the local governments in the communities around Flanders to the regional
      government and to increase transparency and accessibility around the policy decisions of the local governments.
    </p>
  </article>
  <article class="article">
    <h2 class="title-primary">Inovation</h2>
    <h3 class="title-secondary">Smart editor</h3>
    <p class="article-text">To achieve this a smart editor is put in place that supports drafting and registering the
      decisions (the meeting minutes of the local council) in a structured and tagged way and suggesting references to
      people, laws, entities that already have been registered., information about new local policy will be harvested
      from the relevant documents and distributed automatically in standardized formats. This means that not only will
      the ABB’s oversight capacity be more automated, but the data can be easily integrated into third-party services.
    </p>
  </article>
</section>
<section class="container text-center mb-24">
  <article>
    <h2 class="title-primary">Key elements</h2>
    <h3 class="title-secondary">More then what meets the eye</h3>
    <p>LBLOD is an ensemble of many elements that work together in harmony. A true revolution in the way in transformed
      the way the flemish government handles data.</p>
  </article>
  <section>
    <article>
      <h4>Data architecture</h4>
      <p>to ensure a smooth flow of data throughout the project applications we have adapted the open-source
        semantic.works microservice framework to the domain of reporting on the decisions at the level of the community
        council. project.
      </p>
    </article>
    <article>
      <h4>Loket</h4>
      <p> Loket voor Lokale Besturen’ is a digital portal for sharing data between the Agendschap Binnenlandse Bestuur
        and the local governments of Flanders.</p>
    </article>
    <article>
      <h4>Gelink Notuleren</h4>
      <p>A cornerstone of LBLOD, ‘Linked Minutes’ is a semantic word processor. When used with official documents
        related to local governance decision making, it collects and distributes relevant information as structured
        data. The publicly available Say-editor is based on this project.</p>
    </article>
    <article>
      <h4>Data distribution services</h4>
      <p>to ensure a smooth flow of data throughout the project applications we have adapted the open-source
        semantic.works microservice framework to the domain of reporting on the decisions at the level of the community
        council. project.
      </p>
    </article>
  </section>
  <section class="container text-center mb-24">
    <article>
      <h2>Masterpiece</h2>
      <h3>Awards wining project</h3>
      <p>LBLOD has been recognized as a project that improves the efficiency and openness of local governance in
        Flanders, and has been awarded the following prizes
      </p>
    </article>
    <section>
      <article>img</article>
      <article>img</article>
      <article>img</article>
      <article>img</article>
    </section>
  </section>
</section>