<Navbar />

<section class="container mb-24">
  <div
    class="bg-toevla my-6 flex h-64 w-full flex-col justify-center rounded-xl"
  >
    <div class="ml-6 inline-block">
      <div class="inline-block rounded-lg bg-zinc-900 px-16 py-4">
        <h1
          class="mb-0 text-lg font-bold text-white sm:text-xl md:text-2xl"
        >Toevla</h1>
        <h2
          class="mb-0 font-light text-white sm:text-lg md:text-xl"
        >Toegankelijk Vlaanderen</h2>
      </div>
    </div>
  </div>
</section>