<Navbar />
<Breadcrumbs />

<section class="container mb-24">
  <div class="w-full h-64 bg-toevla my-6 flex flex-col justify-center rounded-xl">
    <div class=" inline-block ml-6">
      <div class="bg-gray-900 px-12 py-4 inline-block">
        <h1 class="text-3xl text-white">Toevla</h1>
        <h2 class="text-3xl text-white font-light">Toegankelijk Vlaanderen</h2>
      </div>
    </div>
  </div>
</section>