<div class="career-banner">
  <div class="career-banner-inner">
  <LinkTo @route="careers" class="career-banner-link">
    Looking for an exiting job? Lucky for you, we are hiring!
  </LinkTo>
  </div>
</div>