<div class="career-banner border-b border-gray-800">
  <div class="career-banner-inner">
  <LinkTo @route="careers" class="career-banner-link">
    {{svg-jar "alarm-warning-line" class="career-banner-icon" fill="currentColor"}}
    <span>Looking for an exiting job? Lucky for you, we are hiring!</span>
    {{svg-jar "alarm-warning-line" class="career-banner-icon" fill="currentColor"}}
  </LinkTo>
  </div>
</div>