<div class='bg-black'>
  <div class='container flex items-center'>
    <LinkTo
      @route='careers'
      class='flex items-center space-x-4 py-3 text-xs font-medium text-gray-300 hover:text-white'
    >
    <span class="relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
    </span>
      <span>Looking for an exciting job? Lucky for you, we are hiring!</span>
    </LinkTo>
  </div>
</div>