<div class="z-10 flex items-center justify-between h-full w-full p-3 md:p-6 bg-cover lg:bg-contain bg-no-repeat bg-right-top bg-opacity-40 bg-open-standards ">
  <div class="w-full md:w-2/3 lg:w-1/2 lg:px-6">
    <h4 class="text-xl md:text-2xl font-medium mb-4 text-gray-100">{{yield to="title"}}</h4>
    <p class="text-sm md:text-base text-gray-400">
      {{yield to="text"}}
    </p>
  </div>
  {{yield to="image"}}
</div>