<div class="flex-1 flex flex-col items-center justify-between">
  <h2 class="text-xl md:text-2xl text-gray-200 px-4 py-2 text-center">Our data cycle</h2>
  <img class="md:px-12" src="/assets/vector/data-cycle.svg" alt="Collect, Analyse, Publish, Integrate, Reuse">
</div>