<div class="flex-1 md:block m-auto p-6">
  <div class="flex items-center margin-bottom-xsmall">
        <div class="what-line">
    </div>
    <h2 class="text-gray-400 px-4 text-center">Our data cycle</h2>
        <div class="what-line">
    </div>
  </div>
  <img  src="/assets/vector/data-cycle.svg" alt="">
</div>