<div class="data-cycle">
  <h2 class="data-cycle-title">Our data cycle</h2>
  <img class="data-cycle-illustration" src="/assets/vector/data-cycle.svg" alt="Collect, Analyse, Publish, Integrate, Reuse">
</div>