<div class="hidden md:block">
  <h2 class="text-sm text-gray-400 pb-3">Our data cycle</h2>
  <div class=" inline-flex bg-gradient-to-br from-gray-100 to-gray-50 p-6 rounded-lg">
    <ol>
      <li class="relative pb-10">
        <div class="absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true"></div>
        <div class="relative flex items-center group">
          <span class="h-9 flex items-center" aria-hidden="true">
            <span
              class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full">
              <span class="h-2.5 w-2.5 bg-red-600 rounded-full"></span>
            </span>
          </span>
          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-500">Collect</span>
          </span>
        </div>
      </li>
      <li class="relative pb-10">
        <div class="absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true"></div>
        <div class="relative flex items-center group">
          <span class="h-9 flex items-center" aria-hidden="true">
            <span
              class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full">
              <span class="h-2.5 w-2.5 bg-red-600 rounded-full"></span>
            </span>
          </span>
          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-500"> Analyze</span>
          </span>
        </div>
      </li>

      <li class="relative pb-10">
        <div class="absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true"></div>
        <div class="relative flex items-center group">
          <span class="h-9 flex items-center" aria-hidden="true">
            <span
              class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full">
              <span class="h-2.5 w-2.5 bg-red-600 rounded-full"></span>
            </span>
          </span>
          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-500">Publish</span>
          </span>
        </div>
      </li>

      <li class="relative pb-10">
        <div class="absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true"></div>
        <div class="relative flex items-center group">
          <span class="h-9 flex items-center" aria-hidden="true">
            <span
              class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full">
              <span class="h-2.5 w-2.5 bg-red-600 rounded-full"></span>
            </span>
          </span>
          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-500">Integrate</span>
          </span>
        </div>
      </li>
      <li class="relative">
        <div class="relative flex items-center group">
          <span class="h-9 flex items-center" aria-hidden="true">
            <span
              class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full">
              <span class="h-2.5 w-2.5 bg-red-600 rounded-full"></span>
            </span>
          </span>
          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-xs font-semibold uppercase tracking-wide text-gray-500">Reuse</span>
          </span>
        </div>
      </li>
    </ol>
  </div>

</div>