@layer components {

  .about {
    @apply w-full flex flex-col justify-between relative mb-12 md:mb-24
  }

  .about-header {
    @apply container mb-12 md:mb-32
  }

  .about-text {
    @apply  mb-16 text-gray-600 w-full md:w-2/3
  }

  .stats {
    @apply container mb-24
  }

  .stats-list {
    @apply grid grid-cols-2 md:grid-cols-4 gap-6
  }

  .stats-item {
    @apply bg-gray-100 p-3 md:p-6
  }

  .values {
    @apply container flex flex-col justify-center mb-24
  }

  .values-header {
    @apply my-12
  }

  .values-list {
    @apply grid grid-cols-1 md:grid-cols-2 gap-3 md:gap-6
  }

  .values-list-item {
    @apply p-8 md:p-10 border
  }

  .join {
    @apply container flex flex-col xl:flex-row items-center justify-between border-t border-b border-gray-100 mb-24 py-24 xl:py-64
  }

  .join-header {
    @apply block text-center xl:text-left mb-6 xl:mb-0
  }

  .join-button {
    @apply rounded-full flex justify-between items-center py-2 px-2 bg-gray-100
  }

  .people {
    @apply container mb-48
  }

  .people-header {
    @apply my-12
  }

  .people-list {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 lg:gap-12
  }

  .people-item {
    @apply flex flex-col items-center
  }

  .people-img {
    @apply mb-2
  }
}
