@layer components {

  .careers {
    @apply w-full flex flex-col justify-between relative mb-12 md:mb-24
  }

  .careers-header {
    @apply container mb-6 md:mb-12
  }

  .careers-list {
    @apply container grid grid-cols-1 lg:grid-cols-2 justify-between mb-48
  }

  .job-card {
    @apply p-6 border rounded hover:shadow hover:bg-gray-50
  }

  .job-pill-open{
    @apply flex justify-center items-center space-x-2 bg-green-100  text-green-700 px-6 py-1 rounded-full font-bold
  }
  .job-pill-open-circle {
    @apply h-2 w-2 -ml-2
  }

  .job-card-header {
    @apply flex mb-6 justify-between
  }

  .job-prop-list {
    @apply flex space-x-6
  }

  .job-prop-item {
    @apply flex space-x-2 text-gray-500
  }

  .job-header {
    @apply mb-24
  }

  .advantages-list {
    @apply grid grid-cols-2 lg:grid-cols-4 gap-6
  }

  .advantages-icon {
    @apply bg-gray-900 text-white p-3 rounded
  }

  .advantages-list-item {
    @apply  bg-gray-100 rounded px-6 py-12 flex flex-col items-center space-y-6 text-xl text-center
  }

  .resources-list {
    @apply grid grid-cols-2 lg:grid-cols-4 gap-6
  }

  .resource-list-item {
    @apply bg-gray-50 p-6
  }

}
