@layer components {

  .hero {
    @apply  relative container w-full pt-24 margin-bottom-large
  }

  .hero-content {
    @apply flex flex-col w-full lg:w-2/3
  }

  .hero-title {
<<<<<<< HEAD
    @apply text-3xl md:text-5xl font-black  text-gray-800 margin-bottom-xsmall
=======
    @apply mb-4 text-3xl md:text-5xl font-black md:mb-8 text-gray-800
>>>>>>> master
  }

  .hero-text {
    @apply text-xl md:text-2xl font-thin text-gray-900 margin-bottom-small
  }

  .hero-button {
<<<<<<< HEAD
    @apply py-2
  }

  .hero-button-inner {
    @apply btn-primary bg-red-600 flex space-x-6 items-center inline-flex
=======
    @apply space-x-4 py-2 mb-6
  }

  .hero-button-inner {
    @apply btn-primary bg-red-500 flex space-x-6 items-center inline-flex
>>>>>>> master
  }

  .hero-illustration {
    @apply  hidden justify-end hidden rounded-lg lg:hidden bg-gray-100
  }

  .what-section {
    @apply container margin-bottom-large
  }


  .what-header {
    @apply  margin-bottom-small text-center flex items-center space-x-6
  }

  .what-title {
    @apply title-md text-gray-800 mb-3
  }

  .what-line {
    @apply flex-1 h-0.5 bg-gray-100
  }

  .what-text {
    @apply w-full md:w-2/3 text-gray-600 margin-bottom-xsmall
  }

  .what-illustration {
    @apply flex-1 flex justify-center items-center bg-center bg-no-repeat rounded-lg
  }

  .what-content {
    @apply p-5 rounded-lg flex-1
  }

  .open-source {
    @apply container flex flex-col items-center justify-start margin-bottom-large
  }

  .open-source-img {
    @apply flex-1 rounded  hidden lg:flex
  }

  .open-source-content {
    @apply flex flex-col lg:flex-row lg:items-center mb-4 md:mb-0 lg:space-x-12  w-full
  }

  .open-source-list {
    @apply flex flex-wrap lg:grid lg:grid-cols-5 gap-2 w-auto
  }

  .open-source-list-item {
    @apply w-16 h-16  md:w-24 md:h-24 bg-gradient-to-br from-gray-100 to-gray-50 flex justify-center items-center
  }

  .open-source-list-item-logo {
    @apply h-5 md:h-8
  }

  .data {
    @apply container margin-bottom-large flex flex-col items-center
  }

  .data-title {
    @apply title-lg margin-bottom-small text-center w-full lg:w-1/2
  }

  .data-content {
    @apply flex flex-col
  }

  .data-list {
    @apply flex-1 flex flex-wrap justify-center md:space-x-3 margin-bottom-small
  }

  .data-list-item {
    @apply flex px-6 py-2 border-2 h-12 border-gray-200 rounded-lg mb-3 w-full md:w-auto bg-white
  }

  .data-list-item-text {
    @apply font-bold text-gray-500
  }

}
