@layer components {

  .projects {
    @apply w-full flex flex-col justify-between relative margin-bottom-medium
  }

  .projects-header {
    @apply container flex flex-col justify-between margin-bottom-small xl:space-x-16 xl:flex-row
  }

  .projects-card-list {
    @apply container grid gap-16 xl:grid-cols-2  margin-bottom-large
  }

  .projects-card-item {
    @apply w-full
  }

  .projects-card-inner {
    @apply flex flex-col h-full space-y-6
  }

  .card-content {
    @apply p-6
  }

  .projects-card-bg {
    @apply w-full h-64 flex flex-col justify-center rounded-lg p-3 md:p-0
  }

  .projects-card-header {
    @apply ml-0 md:ml-3 w-full md:w-2/3 bg-gray-900  px-6 md:px-12 py-4 text-white rounded-lg
  }

  .card-title {
    @apply text-2xl margin-bottom-xsmall
  }

  .card-text {
    @apply text-gray-500
  }

}
