@layer components {

  .services {
    @apply w-full flex flex-col justify-between relative mb-12 md:mb-24
  }

  .services-header {
    @apply container mb-24 md:mb-32
  }

  .service-card-container {
    @apply container mb-24 xl:mb-48
  }

  .service-card {
    @apply flex flex-col mb-2 border-2 border-gray-100 rounded-lg
  }

  .service-card-header {
    @apply flex-1 text-center md:text-left mb-12 md:mb-0 py-8 px-5
  }

  .service-card-title {
    @apply title-sm mb-3 text-gray-900
  }

  .service-card-illustration {
    @apply flex-1 bg-gray-100
  }

  .service-category{
    @apply container margin-bottom-large
  }

  .service-data-list {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6
  }

}
