<section class='container -mt-32 mb-10 md:mb-16'>
  <div
    class='mb-6 flex h-48 w-full flex-col items-center justify-center rounded md:h-72
      {{@background}}
      border border-zinc-500'
  >
    <div class='mx-2 flex text-center md:ml-6'>
      <div
        class='rounded border-2 border-black bg-zinc-900 px-6 py-4 md:px-10 md:py-6 lg:px-20'
      >
        <h1
          class='text-lg font-medium text-zinc-100 md:text-3xl'
        >{{@title}}</h1>
        {{#if @text}}
          <p class='text-base text-zinc-300 md:text-xl'>{{@text}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>