<section class='container -mt-32 mb-10 md:mb-16'>
  <div
    class='mb-6 flex h-48 w-full flex-col items-center justify-center rounded md:h-72
      {{@background}}
      border-2 border-zinc-800'
  >
    <div class='mx-2 flex text-center md:ml-6'>
      <div
        class='rounded border-2 border-zinc-500 bg-white px-6 py-4 md:py-6 font-light md:px-10 lg:px-20'
      >
        <h1 class='text-lg md:text-3xl font-medium text-zinc-900'>{{@title}}</h1>
        {{#if @text}}
          <p class='text-base md:text-xl text-zinc-800'>{{@text}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>