<section class="project -mt-32">
  <div class="project-art {{@background}}">
    <div class="project-header ">
      <div class="project-header-inner bg-gradient-to-br from-black to-gray-900">
        <h1 class="project-header-title">{{@title}}</h1>
        {{#if @text}}
          <h2 class="project-header-text">{{@text}}</h2>
        {{/if}}
      </div>
    </div>
  </div>
</section>