<section class="project">
  <div class="project-art {{@background}}">
    <div class="project-header">
      <div class="project-header-inner">
        <h1 class="project-header-title">{{@title}}</h1>
        {{#if @text}}
          <h2 class="project-header-text">{{@text}}</h2>
        {{/if}}
      </div>
    </div>
  </div>
</section>