<section class="container flex flex-col items-center lg:flex-row lg:space-x-16 mb-12">
  <div class="flex-1 lg:w-1/3">
    <h2 class="text-3xl mb-3 font-medium">{{@title}}</h2>
    <p class="mb-16 text-gray-900 leading-relaxed w-2/3 text-lg">{{{@text}}}</p>
  </div>
</section>