<div class="careers">
  <Breadcrumbs />
</div>

<section class="container">
  <article class="job-header">
    <h1 class="title-xl">Full Stack Web Developer</h1>
  </article>
  <section class="w-2/3">
    <article class="mb-24">
      <h2 class="title-md">Job description</h2>
      <p>You are a full stack developer, eager to work on both frontend and backend technologies. You
      will develop applications for 80% of your time, and are free to improve tooling and experiment
      with new technologies that may provide business value with the other 20% of your time. You
      work on practical, reusable solutions that serve the clients' needs. Together we build
      applications using both existing and new components.</p>
    </article>
    <article class="mb-24">
      <h2 class="title-md">Who are we looking for?</h2>
      <p>Experience gets you a long way. An eager mind gets you everywhere.
        We expect you to know how to develop software applications. You should know how to solve
        puzzles and how to write code. A diploma shows a lot, so does Open Source work and prior work
        experience. All are appreciated, at least one is required.
        Developing software is a balancing act. We look for someone who:
        - likes coding, likes solving the puzzles without losing sight of the bigger picture;
        - likes to implement use cases and aims for reusable components;
        - likes working with (linked) data;
        - likes to learn new stuff and is not dogmatic about the technologies he/she likes to use.
        1
        Speaking Dutch is a big plus, the majority of our customers and a big part of the business domain
        are in Flanders. For practical reasons you must be based in Belgium and have the belgian
        nationality or a european work permit.</p>
    </article>
    <article class="mb-24">
      <h2 class="title-md">What technologies do we use?</h2>
      <p>Our backend consists of reusable and understandable microservices, integrated by a single page
          app. You don’t need to know any of the following, but knowing some is appreciated. We will
          guide you and provide you with time to learn.
          Technologies we use daily are:
          - JavaScript (frontend with EmberJS, backend with NodeJS), Ruby, Docker, SPARQL & Linked
          Data
          - Git, Linux (and a little bit of Mac), Emacs, Inkscape, the coffee corner
          Other technologies we make use of: Elixir, Common Lisp, Python, Scala, Bash.
          Open Source examples on github are: lblod, mu-semtech, redpencilio, nvdk, cecemel, erikap,
          madnificent.</p>
    </article>
    <article class="mb-24">
      <h2 class="title-md">What do we offer?</h2>
      <p>- A fair, honest and open employer.
          - 20% time to learn or to grow a project we both believe in.
          - A senior team you can learn from, and will learn from you.
          - Remuneration based on experience and market standards, including extra-legal benefits.
          - Work from home or co-working spaces whenever possible.</p>
    </article>
  </section>
</section>