<div class='bg-gradient-to-r from-gray-200 to-gray-50 border-b border-zinc-500 pb-28 md:pb-36'>
  <Navbar />
</div>

<section class='container'>
  <CareerCard @isLink={{false}} @title='Full Stack Web Developer' @status='Open' @contract='Full-time'
    @remoteOrLocal='Remote' @location='Belgium (preferably)' />

  <section class='lg:w-2/3'>
    <article class='mb-12'>
      <h2 class='mb-2 text-2xl text-zinc-950 font-medium md:mb-6'>Job description</h2>
      <p class='mb-12 text-base leading-relaxed'>You are a full stack
        developer, eager to work on both frontend and backend technologies. You
        will develop applications for 80% of your time, and are free to improve
        tooling and experiment with new technologies that may provide business
        value with the other 20% of your time. You work on practical, reusable
        solutions that serve the clients' needs. Together we build applications
        using both existing and new components.</p>
    </article>

    <article class='mb-12'>
      <h2 class='mb-2 text-2xl text-zinc-950 font-medium md:mb-6'>Who are we
        looking for?</h2>
      <p class='mb-6 text-base leading-relaxed'>Experience gets you
        a long way. An eager mind gets you everywhere. We expect you to know how
        to develop software applications. You should know how to solve puzzles
        and how to write code. A diploma shows a lot, so does Open source work
        and prior work experience. All are appreciated, at least one is
        required. Developing software is a balancing act.</p>

      <div class='my-6 rounded-md border border-zinc-500 bg-zinc-100 p-6'>
        <h3 class='mb-6 font-medium text-gray-900'>
          We look for someone who:
        </h3>
        <ul class='flex list-inside flex-col space-y-6 text-sm md:text-base'>
          <li>
            <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
            Likes coding, likes solving the puzzles without losing sight of the
            bigger picture
          </li>
          <li>
            <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
            Likes to implement use cases and aims for reusable components
          </li>
          <li>
            <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
            Likes working with (linked) data
          </li>
          <li>
            <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
            Likes to learn new stuff and is not dogmatic about the technologies
            he/she likes to use
          </li>
        </ul>
      </div>
      <p class='mb-12 text-base leading-relaxed'>
        Speaking Dutch is a big plus, the majority of our customers and a big
        part of the business domain are in Flanders. For practical reasons you
        must be based in Belgium and have the belgian nationality or a european
        work permit.</p>
    </article>

    <article class='mb-12'>
      <h2 class='mb-2 text-2xl text-zinc-950 font-medium md:mb-6'>What technologies
        do we use?</h2>
      <p class='mb-6 text-base leading-relaxed'>Our backend consists
        of reusable and understandable microservices, integrated by a single
        page app. You don’t need to know any of the following, but knowing some
        is appreciated. We will guide you and provide you with time to learn.</p>

      <div class='mb-2 bg-gray-100 p-4 border border-zinc-500'>
        <h3 class='mb-3 text-base font-medium leading-relaxed text-gray-900'>Technologies we use daily are:
        </h3>
        <ul>
          <li>&#8226; JavaScript (frontend with EmberJS, backend with NodeJS),
            Ruby, Docker, SPARQL & Linked Data</li>
          <li>&#8226; Git, Linux (and a little bit of Mac), Emacs, Inkscape, the
            coffee corner</li>
        </ul>
      </div>
      <div class='mb-8 bg-gray-100 p-4 border border-zinc-500'>
        <h3 class='mb-3 text-base font-medium leading-relaxed text-gray-900'>Other technologies we make use
          of:</h3>
        <ul>
          <li>&#8226; Elixir, Common Lisp, Python, Scala, Bash.</li>
        </ul>
      </div>
      Open source examples on github are: lblod, mu-semtech, redpencilio, nvdk,
      cecemel, erikap, madnificent.
    </article>

    <article class='mb-12 md:mb-24'>
      <h2 class='mb-2 text-2xl text-zinc-950 font-medium md:mb-6'>What do we offer?</h2>

      <ul class='flex flex-col space-y-4'>
        <li>
          <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
          A fair, honest and open employer.
        </li>
        <li>
          <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
          20% time to learn or to grow a project we both believe in.
        </li>
        <li>
          <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
          A senior team you can learn from, and will learn from you.
        </li>
        <li>
          <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
          Remuneration based on experience and market standards, including
          extra-legal benefits.
        </li>
        <li>
          <span class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'>></span>
          Work from home or co-working spaces whenever possible.
        </li>
      </ul>
    </article>
  </section>
  <section>
    <div class='mb-6 bg-gray-100 border border-zinc-500 rounded p-6 shadow-red-500/20 shadow-lg'>
      Interested? Send your CV & motivation to
      <span class='font-bold text-red-600'> meettheteam@redpencil.io </span>
    </div>
  </section>
</section>