<header class="careers">
  <Navbar />
  <Breadcrumbs />
</header>
<main class="min-h-screen container flex flex-col justify-between">
  <section class="mb-12 items-center">
    <article class="">
      <h1 class="title-xl">Careers</h1>
      <h2 class="title-md-thin">A place where <span class="font-bold"> you actually matter</span></h2>
      {{!-- <p class="text-lg text-gray">The web is awesome, but it needs a reboot. Our team is actively working towards an
        open web,with
        practical end-user projects. <br><br> Join redpencil.io, junior or senior, and help build the#WebWeWant.At
        redpencil.io we love open source and actively contribute to a number of projects. Join us todevelop applications
        that open up data towards the web. Use technologies that prevent avendor lock-in. Help us figure out which
        technologies will have an impact in the future, andwhat is just plain fun to use. <br><br> Experiment together
        with us in
        distributed applications with IPFS, image and patternrecognition with TensorFlow, learn from Linked Data experts
        to master Open Data, and steerthe world towards a more open place.Build real-world applications with end-users
        in mind, and experiment with the future.</p> --}}
    </article>
  </section>
  <section class="flex-1 grid grid-cols-3 gap-6">
    <LinkTo @route="careers.full-stack-developer" class="bg-gray-50 h-96 p-6">
      <h3 class="title-sm">Full Stack Web Developer</h3>
    </LinkTo>
  </section>
</main>