<header class="careers">
  <Navbar />
  <Breadcrumbs />
</header>
<article class="careers-header">
  <h1 class="title-xl">Careers</h1>
  <h2 class="title-md-thin">A place where <span class="font-bold"> you actually matter</span></h2>
  {{!-- <p class="text-lg text-gray">The web is awesome, but it needs a reboot. Our team is actively working towards an
    open web,with
    practical end-user projects. <br><br> Join redpencil.io, junior or senior, and help build the#WebWeWant.At
    redpencil.io we love open source and actively contribute to a number of projects. Join us todevelop applications
    that open up data towards the web. Use technologies that prevent avendor lock-in. Help us figure out which
    technologies will have an impact in the future, andwhat is just plain fun to use. <br><br> Experiment together
    with us in
    distributed applications with IPFS, image and patternrecognition with TensorFlow, learn from Linked Data experts
    to master Open Data, and steerthe world towards a more open place.Build real-world applications with end-users
    in mind, and experiment with the future.</p> --}}
</article>
<section class="careers-list">
  <LinkTo @route="careers.full-stack-developer" class="job-card">
    <div class="job-card-header">
      <h3 class="title-sm">Full Stack Web Developer</h3>
      <div class="job-pill-open">Open</div>
    </div>
    <ul class="job-prop-list">
      <li class="job-prop-item">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0H24V24H0z"/><path d="M15 3c.552 0 1 .448 1 1v2h5c.552 0 1 .448 1 1v13c0 .552-.448 1-1 1H3c-.552 0-1-.448-1-1V7c0-.552.448-1 1-1h5V4c0-.552.448-1 1-1h6zM8 8H6v11h2V8zm10 0h-2v11h2V8zm-4-3h-4v1h4V5z" fill="currentColor"/></svg>
        <span>Full-time</span>
      </li>
      <li class="job-prop-item">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h2V9h3a1 1 0 0 1 1 1v9zM7 11v2h4v-2H7zm0-4v2h4V7H7z" fill="currentColor"/></svg>
        <span>Remote</span>
      </li>
      <li class="job-prop-item">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.95 11.95a6.996 6.996 0 0 0 1.858-6.582l2.495-1.07a.5.5 0 0 1 .697.46V19l-7 3-6-3-6.303 2.701a.5.5 0 0 1-.697-.46V7l3.129-1.341a6.993 6.993 0 0 0 1.921 6.29L12 16.9l4.95-4.95zm-1.414-1.414L12 14.07l-3.536-3.535a5 5 0 1 1 7.072 0z" fill="currentColor"/></svg>
        <span>Belgium</span>
      </li>
    </ul>
  </LinkTo>
</section>

<section class="container mb-48">
  <h2 class="title-lg">Why work for redpencil?</h2>
  <h3 class="title-sm-thin mb-12">The advantages</h3>
  <ul class="advantages-list">
    <li class="advantages-list-item">
      <div class="advantages-icon">
       <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0H24V24H0z"/><path d="M13 2v1.278l5 1.668 3.632-1.21.633 1.896-3.032 1.011 3.096 8.512C21.237 16.292 19.7 17 18 17c-1.701 0-3.237-.708-4.329-1.845l3.094-8.512L13 5.387V19H17v2H7v-2h4V5.387L7.232 6.643l3.096 8.512C9.237 16.292 7.7 17 6 17c-1.701 0-3.237-.708-4.329-1.845l3.094-8.512-3.03-1.01.633-1.898L6 4.945l5-1.667V2h2zm5 7.103l-1.958 5.386c.587.331 1.257.511 1.958.511.7 0 1.37-.18 1.958-.51L18 9.102zm-12 0l-1.958 5.386C4.629 14.82 5.299 15 6 15c.7 0 1.37-.18 1.958-.51L6 9.102z" fill="currentColor"/></svg>
      </div>
      <h4>Life-work balance</h4>
    </li>
    <li class="advantages-list-item">
      <div class="advantages-icon">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 19h12V9.157l-6-5.454-6 5.454V19zm13 2H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM7.5 13h2a2.5 2.5 0 1 0 5 0h2a4.5 4.5 0 1 1-9 0z" fill="currentColor"/></svg>
      </div>
      <h4>Remote friendly</h4>
    </li>
    <li class="advantages-list-item">
      <div class="advantages-icon">
        <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12c0-4.478 2.943-8.268 7-9.542v2.124A8.003 8.003 0 0 0 12 20a8.003 8.003 0 0 0 7.418-5h2.124c-1.274 4.057-5.064 7-9.542 7zm9.95-9H11V2.05c.329-.033.663-.05 1-.05 5.523 0 10 4.477 10 10 0 .337-.017.671-.05 1zM13 4.062V11h6.938A8.004 8.004 0 0 0 13 4.062z" fill="currentColor"/></svg>
      </div>
      <h4>20%</h4>
    </li>
    <li class="advantages-list-item">
      <div class="advantages-icon">
       <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"/><path d="M3.161 4.469a6.5 6.5 0 0 1 8.84-.328 6.5 6.5 0 0 1 9.178 9.154l-7.765 7.79a2 2 0 0 1-2.719.102l-.11-.101-7.764-7.791a6.5 6.5 0 0 1 .34-8.826zm1.414 1.414a4.5 4.5 0 0 0-.146 6.21l.146.154L12 19.672l5.303-5.304-3.535-3.535-1.06 1.06a3 3 0 1 1-4.244-4.242l2.102-2.103a4.501 4.501 0 0 0-5.837.189l-.154.146zm8.486 2.828a1 1 0 0 1 1.414 0l4.242 4.242.708-.706a4.5 4.5 0 0 0-6.211-6.51l-.153.146-3.182 3.182a1 1 0 0 0-.078 1.327l.078.087a1 1 0 0 0 1.327.078l.087-.078 1.768-1.768z" fill="currentColor"/></svg>
      </div>
      <h4>Meaningfull projects</h4>
    </li>
  </ul>
</section>


<section class="container mb-48">
  <h2 class="title-lg">Resources</h2>
  <h3 class="title-sm-thin mb-6">Be prepared</h3>
  <ul class="grid grid-cols-4 gap-6">
    <li class="bg-gray-50 p-6">
      <h4>Life-work balance</h4>
    </li>
    <li class="bg-gray-50 p-6">
      <h4>Remote friendly</h4>
    </li>
    <li class="bg-gray-50 p-6">
      <h4>20%</h4>
    </li>
    <li class="bg-gray-50 p-6">
      <h4>Meaningfull projects</h4>
    </li>
  </ul>
</section>