<div class='bg-gradient-to-r from-black to-zinc-950 pb-28 md:pb-36'>
  <Navbar />
</div>

<section class='container'>
  <CareerCard
    @isLink={{false}}
    @title='Internship'
    @status='Open'
    @contract='Temporary'
    @remoteOrLocal='Remote'
    @location='Global'
  />

  <section class='lg:w-2/3'>
    <article class='mb-12 md:mb-24'>
      <h2 class='mb-2 text-2xl text-black md:mb-6 md:text-3xl'>Who do we look for</h2>
      <p class='mb-12 text-base leading-relaxed md:text-lg'>Are you an aspiring
        software engineer or developer? Want to work with us to create exciting
        new applications that make the web better? If you need some course
        credits as work experience or want to work on a real project over that
        study break contact us for a chat, or pitch us the project that you have
        been dreaming of realizing - especially if it can be built using our
        stack.
      </p>
    </article>

    <article class='mb-12 md:mb-24'>
      <h2 class='mb-2 text-2xl text-black md:mb-6 md:text-3xl'>What can you expect</h2>
      <ul class='flex flex-col space-y-6'>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Learn from experienced developers and data professionals</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Work experience at a company that takes learning and development
          seriously</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Work with Open Source technologies and Open Standards</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Learn about the technologies we use</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Help create a better web</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Our primary working language is English. If you know Dutch that is a
          plus, but not a necessity</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          We have an office in Brussels, Belgium, but prefer to work remotely
          when possible</li>
        <li>
          <span
            class='mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700'
          >></span>
          Our internships are paid according to market rate and experience</li>
      </ul>
    </article>

    <article class='mb-12 md:mb-24'>
      <h2 class='mb-2 text-2xl text-black md:mb-6 md:text-3xl'>What technologies do we
        use?</h2>
      <p class='mb-12 text-base leading-relaxed md:text-lg'>Our backend consists of
        reusable and understandable microservices, integrated by a single page
        app. You don’t need to know any of the following, but knowing some is
        appreciated. We will guide you and provide you with time to learn.</p>
      <br /><br />
      <div class='mb-2 bg-white p-4'>
        <h3
          class='mb-3 text-base font-medium leading-relaxed text-gray-900 md:text-lg'
        >Technologies we use daily are:</h3>
        <ul>
          <li>&#8226; JavaScript (frontend with EmberJS, backend with NodeJS),
            Ruby, Docker, SPARQL & Linked Data</li>
          <li>&#8226; Git, Linux (and a little bit of Mac), Emacs, Inkscape, the
            coffee corner</li>
        </ul>
      </div>
      <div class='mb-8 bg-white p-4'>
        <h3
          class='mb-3 text-base font-medium leading-relaxed text-gray-900 md:text-lg'
        >Other technologies we make use of:</h3>
        <ul>
          <li>&#8226; Elixir, Common Lisp, Python, Scala, Bash.</li>
        </ul>
      </div>
      Open source examples on github are: lblod, mu-semtech, redpencilio, nvdk,
      cecemel, erikap, madnificent.
    </article>

    <article class='mb-12 md:mb-24'>
      <h2 class='mb-2 text-2xl text-black md:mb-6 md:text-3xl'>What is ‘a better web’?</h2>
      <p class='mb-12 text-base leading-relaxed md:text-lg'>The web is one of the most
        important inventions of all time. It is important that it stays open and
        accessible to everybody. Today, the major tech companies and some
        governments are closing off parts of the web and making it difficult for
        smaller actors to compete in other areas. Many of them combine their
        immense power with a predatory approach to how they handle user data and
        privacy.
        <br /><br />
        They are creating a ‘web of walls’.
        <br /><br />
        The web should instead be an open and safe arena, a public good. As a
        company, we believe we can change the web by being careful in what
        technologies we use and what actors we cooperate with. By committing to
        open standards, Open Source and semantic technologies, and collaborating
        with like-minded actors we can help bring about the web we want.
        <br /><br />
        We can not do this without young, inspired thinkers like you.

      </p>
    </article>
  </section>
  <section>
    <div class='mb-6 bg-white p-6'>
      Interested? Send your CV & motivation to
      <span class='font-bold text-red-600'> meettheteam@redpencil.io </span>
    </div>
  </section>
</section>