<div class="bg-gradient-to-r from-black to-gray-900 pb-48 md:pb-36">
  <Navbar @dark={{true}}/>
</div>

<section class="container">
  <article class="job-header bg-gray-900 border-2 border-gray-800 shadow-lg -mt-20">
    <div class="p-6">
      <div class="relative sm:flex sm:justify-between sm:items-baseline">
        <div class="sm:w-0 sm:flex-1">
          <h1 id="message-heading" class="text-2xl text-white mb-3">
            Internship
          </h1>
          <ul class="job-prop-list">
            <li class="job-prop-item">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" d="M0 0H24V24H0z" />
                <path
                  d="M15 3c.552 0 1 .448 1 1v2h5c.552 0 1 .448 1 1v13c0 .552-.448 1-1 1H3c-.552 0-1-.448-1-1V7c0-.552.448-1 1-1h5V4c0-.552.448-1 1-1h6zM8 8H6v11h2V8zm10 0h-2v11h2V8zm-4-3h-4v1h4V5z"
                  fill="currentColor" />
              </svg>
              <span>Temporary</span>
            </li>
            <li class="job-prop-item">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h2V9h3a1 1 0 0 1 1 1v9zM7 11v2h4v-2H7zm0-4v2h4V7H7z"
                  fill="currentColor" />
              </svg>
              <span>Remote</span>
            </li>
            <li class="job-prop-item">
              <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M16.95 11.95a6.996 6.996 0 0 0 1.858-6.582l2.495-1.07a.5.5 0 0 1 .697.46V19l-7 3-6-3-6.303 2.701a.5.5 0 0 1-.697-.46V7l3.129-1.341a6.993 6.993 0 0 0 1.921 6.29L12 16.9l4.95-4.95zm-1.414-1.414L12 14.07l-3.536-3.535a5 5 0 1 1 7.072 0z"
                  fill="currentColor" />
              </svg>
              <span>Global</span>
            </li>
          </ul>
        </div>
        <div class="job-pill-open">
          <svg class="job-pill-open-circle" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="3" />
          </svg>
          <span>Open</span>
        </div>
      </div>
    </div>
  </article>
  <section class="lg:w-2/3">
    <article class="mb-24">
      <h2 class="title-md margin-bottom-xsmall">Who do we look for</h2>
      <p>Are you an aspiring software engineer or developer? Want to work with us to create exciting new applications that make the web better?

If you need some course credits as work experience or want to work on a real project over that study break
 contact us for a chat, or pitch us the project that you have been dreaming of realizing - especially if it can be built using our stack.
</p>
    </article>
    <article class="mb-24">
      <h2 class="title-md margin-bottom-xsmall">What can you expect</h2>

        <ul>
          <li>&#8226; Learn from experienced developers and data professionals</li>
          <li>&#8226; Work experience at a company that takes learning and development seriously</li>
          <li>&#8226; Work with Open Source technologies and Open Standards</li>
          <li>&#8226; Learn about the technologies we use</li>
          <li>&#8226; Help create a better web</li>
          <li>&#8226; Our primary working language is English. If you know Dutch that is a plus, but not a necessity</li>
          <li>&#8226; We have an office in Brussels, Belgium, but prefer to work remotely when possible</li>
          <li>&#8226; Our internships are paid according to market rate and experience</li>
        </ul>
        <br>

    </article>
    <article class="mb-24">
      <h2 class="title-md margin-bottom-xsmall">What technologies do we use?</h2>
      <p>Our backend consists of reusable and understandable microservices, integrated by a single page
        app. You don’t need to know any of the following, but knowing some is appreciated. We will
        guide you and provide you with time to learn.
        <br><br>
        <strong>Technologies we use daily are:</strong>
        <ul>
          <li>&#8226; JavaScript (frontend with EmberJS, backend with NodeJS), Ruby, Docker, SPARQL & Linked Data</li>
          <li>&#8226; Git, Linux (and a little bit of Mac), Emacs, Inkscape, the coffee corner</li>
        </ul>
        <ul>
          <br>
        </ul>

        <strong>Other technologies we make use of:</strong>
        <ul>
          <li>&#8226; Elixir, Common Lisp, Python, Scala, Bash.</li>

        </ul>
        <br>
        Open source examples on github are: lblod, mu-semtech, redpencilio, nvdk, cecemel, erikap,
        madnificent.</p>
    </article>
    <article class="mb-24">
      <h2 class="title-md margin-bottom-xsmall">What is ‘a better web’?</h2>
      <p>The web is one of the most important inventions of all time. It is important that it stays open and accessible to everybody.
Today, the major tech companies and some governments are closing off parts of the web and making it difficult for smaller actors to compete in other areas. Many of them combine their immense power with a predatory approach to how they handle user data and privacy.
<br><br>
They are creating a ‘web of walls’.
<br><br>
The web should instead be an open and safe arena, a public good.
As a company, we believe we can change the web by being careful in what technologies we use and what actors we cooperate with.
By committing to open standards, Open Source and semantic technologies, and collaborating with like-minded actors we can help bring about the web we want.
<br><br>
We can not do this without young, inspired thinkers like you.

      </p>
    </article>
  </section>
  <section>
    <div class="p-6 bg-white mb-6">
      Interested? Send your CV & motivation to <span class="text-red-600 font-bold"> meettheteam@redpencil.io </span>
    </div>
  </section>
</section>
