<div
  class="border-b border-zinc-500 bg-gradient-to-r from-zinc-200 to-zinc-50 pb-28 md:pb-36"
>
  <Navbar />
</div>

<section class="container">
  <CareerCard
    @isLink={{false}}
            @title="Linked Data Ontologist"
    @status="Open"
    @contract="Full-time"
    @remoteOrLocal="Remote"
    @location="Belgium"
  />

  <section class="lg:w-2/3">
    <article class="mb-12">
      <h2 class="mb-2 text-2xl font-medium text-zinc-950 md:mb-6">Job
        description</h2>
      <p class="mb-12 text-base leading-relaxed">You are passionate about data: making it clean, understandable, useful, and reusable. You work closely with clients, product owners, and developers to turn messy or complex data into high-quality structured data that power applications, APIs, and analytics. You take ownership of data workflows and help define how data should be documented, integrated, and governed. You also contribute to client applications to ensure data models are correctly and consistently implemented.</p>
    </article>

    <article class="mb-12">
      <h2 class="mb-2 text-2xl font-medium text-zinc-950 md:mb-6">Who are we
        looking for?</h2>
      <p class="mb-6 text-base leading-relaxed">Experience with data modeling and semantic technologies goes a long way. An eagerness to learn and improve data quality goes even further. We value practical problem-solving skills and a genuine interest in making data work for real-world applications.</p>

      <div class="my-6 rounded-md border border-zinc-500 bg-zinc-100 p-6">
        <h3 class="mb-6 font-medium text-zinc-900">
          We look for someone who:
        </h3>
        <ul class="flex list-inside flex-col space-y-6 text-sm md:text-base">
          <li>
            <span
              class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
            >&gt;</span>Enjoys exploring and solving data puzzles with practical, reusable solutions.</li>
          <li>
            <span
              class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
            >&gt;</span>Has experience with data modeling, semantic technologies, and data transformation.</li>
          <li>
            <span
              class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
            >&gt;</span>Likes working with open standards and open source tools.</li>
          <li>
            <span
              class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
            >&gt;</span>Is detail oriented, communicative and eager to improve data quality.</li>
          <li>
            <span
              class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
            >&gt;</span>Wants to learn how to build applications that work with linked data, and is willing to invest time in learning semantic software development.</li>
        </ul>
      </div>
      <p class="mb-6 text-base leading-relaxed">
        Speaking Dutch is a big plus, the majority of our customers and a big part of the business domain are in Flanders. For practical reasons you should be based in Belgium and have a European nationality or have a European work permit.
      </p>
    </article>

    <article class="mb-12">
      <h2 class="mb-2 text-2xl font-medium text-zinc-950 md:mb-6">What you'll do</h2>
      <p class="mb-6 text-base leading-relaxed">You work on and/or understand application code to directly improve data modeling decisions and support long-term maintainability. You will regularly balance ideal semantic models with real-world constraints such as legacy data, timelines, and client needs — and help make those trade-offs explicit.</p>

      <ul class="flex flex-col space-y-6">
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>Clean, normalize, transform diverse data sources and integrate them into our systems.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Design and maintain data models, ontologies, vocabularies and schemas.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Define and document data standards, and mappings for internal and client use.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Partner with developers to build models which are used in practice.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Build data validation, profiling and quality checks across pipelines.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>Support semantic interoperability and linked data best practices.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span> Communicate complex data concepts clearly to technical and non-technical audiences.
        </li>
      </ul>

      <div class="mt-8 mb-2 border border-zinc-500 bg-zinc-100 p-4">
        <h3
          class="mb-3 text-base font-medium leading-relaxed text-zinc-900"
        >Some technologies and standards we use are:
        </h3>
        <ul>
          <li>&#8226; Git, Linux, Python, Docker, Openlink Virtuoso Open source, the coffee corner</li>
          <li>&#8226; SPARQL, SHACL, RML, OWL, RDF, the semantic web.</li>
        </ul>
      </div>
    </article>

    <article class="mb-12">
      <h2 class="mb-2 text-2xl font-medium text-zinc-950 md:mb-6">What do we
        offer?</h2>

      <ul class="flex flex-col space-y-4">
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          A fair, honest and open employer.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          20% time to learn or to grow a project we both believe in.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          A senior team you can learn from, and will learn from you.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Remuneration based on experience and market standards, including
          extra-legal benefits.
        </li>
        <li>
          <span
            class="mr-2 rounded-full bg-blue-100 px-2 leading-none text-blue-700"
          >&gt;</span>
          Work from home or co-working spaces whenever possible.
        </li>
      </ul>
    </article>
  </section>
  <section>
    <div
      class="mb-6 rounded border border-zinc-500 bg-zinc-100 p-6 shadow-lg shadow-red-500/20"
    >
      Interested? Send your CV & motivation to
      <span class="font-bold text-red-600"> meettheteam@redpencil.io </span>
      <p class="mt-4 text-sm leading-relaxed text-zinc-600">Not sure this role fits you perfectly? That's totally fine. If you're passionate about data modeling and semantic technologies and want to work with a team that takes these topics seriously, we'd love to hear from you.</p>
    </div>
  </section>
</section>
