
.bg-lblod{
  background-image: url('/assets/vector/lblod-pattern.svg');
}

.bg-kaleidos{
  background-image: url('/assets/vector/kaleidos-pattern.svg');
}

.bg-toevla{
  background-image: url('/assets/vector/toevla-pattern.svg');
}

.bg-yellow {
  background-color: #fde257;
}

.bg-green {
  background-color: #1e7575;
}


.bg-lblod-card{
  background-image: url('/assets/vector/lblod-pattern-small.svg');
}

.bg-kaleidos-card{
  background-image: url('/assets/vector/kaleidos-pattern-small.svg');
}
