.grayscale {
  filter: grayscale(1)
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.progress {
  @apply absolute top-0 left-0 w-full h-full rounded-full;
  background: linear-gradient(90deg, #d4d4d4 0%, #e5e5e5 100%);
  animation: grow 7s linear;
}

@keyframes grow {
  from {
    width: 10%;
  }
  to {
    /* More performant than `width` */
    width: 100%;
  }
}
