
.glass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border-bottom: 1px solid transparent;
  backdrop-filter: blur(8px);
}

.grayscale {
  filter: grayscale(1)
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  background: linear-gradient(90deg, #3030307c 0%, #46464673 100%);
  width: 10%;
  height: 100%;
  animation: grow 7s linear;
}

@keyframes grow {
  from{
    width: 10%;
  }
  to {
    /* More performant than `width` */
    width: 100%;
  }
}
