@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
}



@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
}



