@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/font/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
}



