<meta property="url" content="http://redpencil.io/">

<div class="container-fluid">

  <header class="row row-no-gutters">
    {{#link-to "index" class="col-xs-12 col-md-5 home-button" tagName="div"}}
      <h1>redpencil<span class="red">.</span>io</h1>
    {{/link-to}}

    <!-- <nav class="col-md-7 col-xs-12">
         <ul>
         <li>{{#link-to "what-we-do"}}What we do{{/link-to}}</li>
         <li>{{#link-to "inspiration"}}Our inspiration{{/link-to}}</li>
         <li>{{#link-to "technologies"}}Technology{{/link-to}}</li>
         <li>{{#link-to "who"}}Who we are{{/link-to}}</li>
         </ul>
         </nav> -->
  </header>

  {{outlet}}

  <footer>
    <div class="row row-no-gutters">
      <!-- <div class="col-xs-4 sitemap-wrapper">
           <ul class="sitemap">
           <li>{{#link-to "what-we-do"}}What we do{{/link-to}}</li>
           <li>{{#link-to "inspiration"}}Our inspiration{{/link-to}}</li>
           <li>{{#link-to "technologies"}}Technology{{/link-to}}</li>
           <li>{{#link-to "who"}}Who we are{{/link-to}}</li>
           </ul>
           </div> -->
      <div class="col-xxs-6 col-xs-6 social-media">
        <a href="mailto:info@redpencil.io"><i class="fa fa-envelope" aria-hidden="true"></i> info@redpencil.io</a>
        <a href="https://twitter.com/redpencilio"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a href="https://www.linkedin.com/company/redpencil-io/"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
        <a href="https://github.com/redpencilio"><i class="fab fa-github" aria-hidden="true"></i>GitHub</a>
        <a href="https://hub.docker.com/u/redpencil"><i class="fab fa-docker" aria-hidden="true"></i>DockerHub</a>
      </div>
      <div class="col-xxs-6 col-xs-6 row address">
        redpencil.io<br>
        P.P. Rubensstraat 37a<br>
        1880 Kapelle-op-den-Bos<br><br>
        VAT BE 0681.569.312<br>
        IBAN BE68 7360 4161 9734
      </div>
    </div>
    <div class="copyright">&copy; redpencil 2019. All rights reserved.</div>
  </footer>
</div>
