<section class="projects arch">
  <Navbar @dark={{true}}/>
  <Breadcrumbs @dark={{true}}/>
  <article class="container my-12 text-white">
    <h1 class="title-primary--dark">Careers</h1>
    <h2 class="title-secondary--dark">A place where you actually matter</h2>
  </article>
</section>