
<section class="projects arch">
  <Navbar @dark={{true}}/>
  <Breadcrumbs @dark={{true}}/>
  <article class="container mb-12 text-white">
    <h1 class="title-primary--dark">Contact us</h1>
    <h2 class="title-secondary--dark">Each of our services comes with a smile</h2>
  </article>
</section>