<section class="banner">
</section>

<section class="subtitle">
  <h2>Solving complex data&nbsp;problems<br>with rich distributed web&nbsp;applications</h2>
</section>

<div class="content">
  <p>We are a group of data technology engineers with a passion for open distributed solutions. We combine our wealthy expertise with a dose of youthful enthusiasm.  We help in envisioning the future, selecting and wiring a rich set of existing technologies, stakeholder planning, development, as well as project management.</p>

  <p>The best way to work together is to talk. <a href="mailto:info@redpencil.io">Contact us now</a>.</p>

</div>

<section class="highlights row">
  <div class="col-md-4 highlight">
    <div class="highlight-icon">
      <img src="assets/images/icon-model.svg" alt="Data modelling">
    </div>
    <h3 class="highlight-title">Data modelling</h3>
    <div class="highlight-content">
      Conceptualizing the logic in your data processes, clustering it, and modelling it for generic utilisation in computers using universal ontologies.
    </div>
  </div>
  <div class="col-md-4 highlight">
    <div class="highlight-icon">
      <img src="assets/images/icon-architecture.svg" alt="Information architecture">
    </div>
    <h3 class="highlight-title">Information architecture</h3>
    <div class="highlight-content">
      Envisioning an IT strategy, data policy and application architecture to make data in your organization accessible and reusable.
    </div>
  </div>
  <div class="col-md-4 highlight">
    <div class="highlight-icon">
      <img src="assets/images/icon-publication.svg" alt="Data publication">
    </div>
    <h3 class="highlight-title">Data publication</h3>
    <div class="highlight-content">
      Publication and dissemination of (linked) open data according to international standards for public reuse.
    </div>
  </div>
</section>
