<Hero::CareerBanner />

<div
  class='relative overflow-hidden border-b border-zinc-500 bg-white pb-48 md:pb-64'
>
  <Navbar />

  <section class='container relative z-10 flex py-20 lg:py-40'>
    <div class='z-10 w-full sm:w-2/3'>
      <h1 class='mb-8 text-3xl font-light text-zinc-900 lg:mb-12 lg:text-5xl'>
        Creating excellent applications, better data, and proudly building the
        <span class='text-red-600'>#WebWeWant</span>
      </h1>
      <LinkTo
        @route='contact'
        class='rounded border-2 border-zinc-900 bg-red-700 px-10 py-3 text-base font-medium text-white shadow shadow-red-500/40 hover:border-transparent hover:bg-red-600 md:px-12 md:py-4'
      >
        Contact us
      </LinkTo>
    </div>
  </section>

</div>

<Carousel />

<section class='container mb-12 py-12 md:mb-24 lg:mb-32'>
  <div class='flex flex-col md:flex-row md:space-x-12'>
    <div class='flex-1'>

      <h2 class='flex-1 text-2xl font-medium text-zinc-900 md:text-4xl'>We
        Breath Open Source</h2>
      <p class='mb-6 text-red-700'>
        Part of our DNA
      </p>

      <p class='mb-6 text-sm font-medium text-gray-800 md:mb-16 md:text-base'>
        There are many reasons why open-source conquered the world of software
        development, but behind it all is the idea that a large, open community
        of developers results in better software than any closed group. That why
        at Redpencil.io we love to use and contribute to Open Source.
      </p>
    </div>
    <div
      class='mb-12 flex w-full flex-col space-y-10 border-y py-6 md:mb-24 md:w-1/2 md:border-none md:py-0'
    >
      <div class='flex w-full justify-center'>
        <div class='flex flex-col text-center'>
          <span class='font-medium'>Security & reliability</span>
          <span class='text-sm'>Trust what you use</span>
        </div>
      </div>
      <div class='relative flex justify-evenly'>
        <div
          class='absolute top-1/2 h-px w-full bg-gradient-to-r from-gray-50 via-black to-gray-50'
        >

        </div>
        <div
          class='z-10 flex h-14 w-14 items-center justify-center rounded border border-gray-500 bg-white shadow-2xl shadow-red-300/40'
        >
          {{svg-jar 'collaboration' class='flex-no-shrink text-red-600 w-6'}}
          <div
            class='absolute bottom-0 h-4 w-px translate-y-full transform bg-gray-900'
          ></div>
        </div>
        <div
          class='z-10 flex h-14 w-14 items-center justify-center rounded border border-gray-500 bg-white shadow-2xl shadow-red-300/40'
        >
          {{svg-jar 'shield-secure' class='flex-no-shrink text-red-600 w-6'}}
          <div
            class='absolute top-0 h-4 w-px -translate-y-full transform bg-gray-900'
          ></div>
        </div>
        <div
          class='z-10 flex h-14 w-14 items-center justify-center rounded border border-gray-500 bg-white shadow-2xl shadow-red-300/40'
        >
          {{svg-jar 'open-book' class='flex-no-shrink text-red-600 w-6'}}
          <div
            class='absolute bottom-0 h-4 w-px translate-y-full transform bg-gray-900'
          ></div>
        </div>
      </div>
      <div class='flex justify-evenly'>
        <div class='flex flex-col text-center'>
          <span class='font-medium'>Open collaboration</span>
          <span class='text-sm'>Driver of innovation</span>
        </div>
        <div></div>
        <div class='flex flex-col text-center'>
          <span class='font-medium'>Transparency</span>
          <span class='text-sm'>Know what you use</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class='mb-3 font-normal text-gray-700 md:text-center'>Some open source
      technologies we use</h3>
    <ToolsCloud />
  </div>

</section>

<section
  class='mb-12 border-y border-zinc-500 bg-gradient-to-br from-zinc-50 to-zinc-100 md:mb-32'
>
  <div class='container space-y-12 py-24 md:space-y-24'>
    <div class='flex flex-wrap'>
      <h2
        class='mb-2 text-2xl font-medium text-zinc-900 md:mb-12 md:text-4xl'
      >We build for the long term
      </h2>
      <ul class='grid grid-cols-1 gap-2 md:grid-cols-2 md:gap-6'>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Improved data
            quality</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Enhance data quality for
            consistent accuracy and reliability, ensuring your information
            consistently meets the highest standards</div>
        </li>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Better data
            analysis</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Supercharge your data
            analysis for sharper insights and smarter decision-making,
            propelling your organization ahead of the competition</div>
        </li>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Eliminated data
            silos</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Say goodbye to data
            silos and welcome seamless data integration for more efficient
            operations</div>
        </li>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Reusable data</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Make your data an
            enduring asset, ready to fuel innovation and insights, time and time
            again</div>
        </li>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Sustainable data
            publishing</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Revolutionize your data
            analysis for unparalleled insights and precision, enabling seamless
            integration and enhancing data quality</div>
        </li>
        <li class='rounded-lg border border-zinc-500 bg-white p-3 md:p-9'>
          <div class='mb-2 text-base text-zinc-900 md:text-xl'>Data
            interoperability</div>
          <div class='text-xs text-zinc-600 md:text-sm'>Enhance data quality and
            streamline collaboration with effortless data interoperability,
            unlocking limitless possibilities for your organization</div>
        </li>
      </ul>
    </div>

    <div class='flex flex-1 flex-col items-center justify-between'>
      <h2 class='px-4 py-2 text-center text-xl text-gray-900 md:text-2xl'>Our
        data cycle</h2>
      <img
        class='md:w-2/3'
        src='/assets/vector/data-cycle.svg'
        alt='Collect, Analyse, Publish, Integrate, Reuse'
      />
    </div>
  </div>

</section>

<section class='mb-12 h-full py-12 md:mb-32'>
  <div class='container flex flex-col md:flex-row md:space-x-6'>
    <div class='mb-12 flex-1'>
      <h2
        class='mb-6 flex-1 text-2xl font-medium text-zinc-900 md:mb-12 md:text-4xl'
      >Building Award winning apps</h2>
      <p class='mb-8 text-sm font-medium text-gray-800 md:text-base'>We are
        dedicated to crafting exceptional applications using cutting-edge open
        standards and data technologies. One shining example is our acclaimed
        app, LBLOD, designed exclusively for the Flemish government, which has
        proudly received multiple prestigious awards. We don't just create; we
        innovate."</p>
      <LinkTo
        class='rounded border-2 border-black bg-gray-800 px-8 py-2 text-sm font-medium text-white hover:border-transparent hover:bg-gray-950'
        @route='projects.lblod'
      >Read the case study</LinkTo>
    </div>

    <div
      class='flex h-full flex-1 items-end justify-end rounded-md border border-zinc-500 bg-gray-200 p-4 pb-0 md:p-8 md:pb-0'
    >
      <img
        class='w-full'
        src='/assets/pixel/digitaal-loket.png'
        alt={{@title}}
      />
    </div>

  </div>

</section>

<CtaBanner />
<Footer />