<section class="hero">
  <div class="hero-bubble">
    <LinkTo @route="contact" class="hero-bubble-inner">
      <span class="hero-bubble-text">We're hiring</span>
    </LinkTo>
  </div>
  <article class="hero-content">

    <h1 class="hero-title">
      Get more from your data
    </h1>
    <div>
      <p class="hero-text">
        Redpencil creates rich web applications tailored to the data needs of your organization.
      </p>
      <div class="hero-button">
        <button type="button" class="hero-button-inner">
          <span class="hero-button-text">Book a meeting</span>
          <svg class="hero-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor" />
          </svg>
        </button>
      </div>
    </div>
  </article>
</section>

<section class="container flex flex-col mb-48">
  <article class="flex flex-col">
    <h2 class="title-lg">Why we are different</h2>
    <h3 class="title-sm-thin mb-6">We build in a special way</h3>
    <p class="mb-16 text-gray-600 w-2/3">
      We both use and contribute extensively to open-source projects. Using open source has many advantages
    </p>
  </article>
  <article class="w-full">
    <ul class="flex space-x-6">
      <li class="flex-1 bg-gray-50 rounded-lg p-12 border-2 border-gray-100">
        <h3 class="title-sm mb-4">Linked data</h3>
        <p class="text-gray-900 text-sm">We would love to hear from you! Fill in the form below and we will get back to you as
    quickly as possible. Rather meet us immediatelly? Book a video conference on any available date under below this</p>
      </li>
      <li class="flex-1 bg-gray-50 rounded-lg p-12 border-2 border-gray-100">
        <h3 class="title-sm mb-4">Linked data</h3>
        <p class="text-gray-900 text-sm">We would love to hear from you! Fill in the form below and we will get back to you as
    quickly as possible. Rather meet us immediatelly? Book a video conference on any available date under below this</p>
      </li>
      <li class="flex-1 bg-gray-50 rounded-lg p-12 border-2 border-gray-100">
        <h3 class="title-sm mb-4">Linked data</h3>
        <p class="text-gray-900 text-sm">We would love to hear from you! Fill in the form below and we will get back to you as
    quickly as possible. Rather meet us immediatelly? Book a video conference on any available date under below this</p>
      </li>
    </ul>
  </article>
</section>

<section class="open-source">
  <div class="open-source-img">
    <img class="w-full" src="/assets/vector/open-source.svg" alt="data modeling">
  </div>
  <article class="open-source-content">
    <h2 class="title-lg">We love open source</h2>
    <h3 class="title-sm-thin mb-6">Part of our DNA</h3>
    <p class="mb-16 text-gray-600 w-full">
      We both use and contribute extensively to open-source projects. Using open source has many advantages
    </p>
  </article>
</section>

<section class="open-source">

  <article class="open-source-content">
    <h2 class="title-lg">Creators of LBLOD</h2>
    <h3 class="title-sm-thin mb-6">Award winning</h3>
    <p class="mb-16 text-gray-600 w-full">
      We both use and contribute extensively to open-source projects. Using open source has many advantages
    </p>
  </article>
    <div class="open-source-img">
    <img class="w-full" src="/assets/vector/award-winning.svg" alt="data modeling">
  </div>
</section>

<section class="container flex space-between space-x-12 items-center ">
  <article class="h-64 w-full bg-red-600 rounded-2xl p-12 text-white">
    <h2 class="title-lg">We are hiring</h2>
  </article>
</section>

<Banner/>