{{page-title "Welcome to redpencil.io"}}

<section class="hero-section">
  <div class="hero-inner">
    <h1 class="hero-title">
      Data engineering -
      Powerful web applications -
      Distributed Web specialists -
      Open web activists

    </h1>
    <p class="hero-text">
        Creating better data, excellent applications, — <span class="font-black">and a quality web! #WebWeWant</span>
    </p>
    <LinkTo @route="contact" class="hero-button">
      Contact us
    </LinkTo>
  </div>
</section>

<section class="what-section">
  <div class="what-header">
    <h2 class="what-title">What we do differently</h2>
  </div>
  <Hero::Carousel />
</section>

<section class="os-section">
  <div class="os-header">
    <h2 class="flex-1 title-lg">We love Open Source</h2>
    <p class="title-xs flex-1">
      We both use and contribute extensively to open-source projects. Using Open Source has many advantages
    </p>
  </div>

  <div class="w-full flex flex-col lg:flex-row items-start lg:space-x-12">
    <div class="flex-1 margin-bottom-small">
      <div class="inline-flex">
        <ul class="os-list">
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/docker.svg" alt="docker">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/elixir.svg" alt="elixir">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/ember.svg" alt="emberjs">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/kibana.svg" alt="kibana">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/elastic.svg" alt="elasticsearch">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/compose.svg" alt="docker-compose">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/semantic.svg" alt="semantic-works">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/python.svg" alt="python">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/rdf.svg" alt="rdf">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/node.svg" alt="nodejs">
          </li>
          <li class="os-list-item">
            <img class="os-list-item-logo" src="/assets/vector/logos/emacs.svg" alt="emacs">
          </li>
        </ul>
      </div>
    </div>

    <ul class="os-advantage-list">
      <p class="text-sm text-gray-400">advantages of open source</p>
      <li class="os-advantage-list-item">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Open collaboration
          </div>
          <div class="text-base text-gray-500">
            An important driver of innovation
          </div>
        </div>
      </li>
      <li class="os-advantage-list-item">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Transparency
          </div>
          <div class="text-base text-gray-500">
            Know what you use
          </div>
        </div>
      </li>
      <li class="os-advantage-list-item">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Security & reliability
          </div>
          <div class="text-base text-gray-500">
            Trust what you use
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>


<section class="data">
  <h2 class="data-title">Our approach to data management provides</h2>
  <div class="data-content">
    <ul class="data-list">
      <li class="data-list-item">
        <span class="data-list-item-text">Enhanced data analytics and NLP</span>
      </li>
      <li class="data-list-item">
        <span class="data-list-item-text">Eliminates data silos</span>
      </li>
      <li class="data-list-item">
        <span class="data-list-item-text">Reduces wasted data </span>
      </li>
      <li class="data-list-item">
        <span class="data-list-item-text">Easy data publishing</span>
      </li>
      <li class="data-list-item">
        <span class="data-list-item-text">A model for integrating all types of data</span>
      </li>
      <li class="data-list-item">
        <span class="data-list-item-text">Native Linked data management</span>
      </li>
    </ul>
    <Hero::DataCycle />
  </div>
</section>

<Banner />