<Hero::CareerBanner />

<div class="bg-gradient-to-r from-black to-gray-900 pb-64">
  <Navbar />

  <section class="relative z-10 container flex py-20 lg:py-40">
    <div class="w-full sm:w-2/3 xl:w-1/2 z-10">
      <h1 class="text-3xl mb-6 font-light text-gray-100 lg:text-5xl lg:mb-12">
        Creating excellent applications, better data, and proudly building the
        <span class="text-red-600">#WebWeWant</span>
      </h1>
      <LinkTo @route="contact" class="bg-black border border-gray-800 text-white px-12 py-3 font-medium hover:bg-red-800  shadow-xl shadow-red-500/10 rounded">
        Contact us
      </LinkTo>
    </div>
  </section>
  {{!-- Optional animation --}}
  {{!-- <Hero::Sphere/> --}}
  {{!-- Source: https://codepen.io/Zaku/pen/nzqqwW --}}

</div>

<Carousel />

<section class="container mb-12 md:mb-24 lg:mb-32 py-12">
  <div class="flex flex-col md:flex-row md:space-x-12">
    <div class="flex-1">

      <h2 class="flex-1 text-2xl md:text-4xl font-medium text-gray-700">We Breath Open Source</h2>
      <p class="text-gray-700 mb-6">
        Part of our DNA
      </p>

      <p class="text-sm md:text-base mb-6 md:mb-16 text-gray-700">
        There are many reasons why open-source
        conquered the world of software development, but behind it all is the idea that a large, open community of
        developers results in better software than any closed group. That why at Redpencil.io we love to use and contribute to Open Source.
      </p>
    </div>
    <div class="w-full md:w-1/2 flex flex-col space-y-10 mb-12 md:mb-24 border-y md:border-none py-6 md:py-0">
      <div class="w-full flex justify-center">
        <div class="flex flex-col text-center">
          <span class="font-medium">Security & reliability</span>
          <span class="text-sm">Trust what you use</span>
        </div>
      </div>
      <div class="flex justify-evenly relative">
        <div class="absolute w-full h-px bg-gradient-to-r from-gray-50 via-black to-gray-50 top-1/2">

        </div>
        <div class="z-10 w-14 h-14 bg-white flex items-center justify-center border border-gray-200 rounded shadow-2xl shadow-red-300/40">
          {{svg-jar "collaboration" class="flex-no-shrink text-red-600 w-6"}}
          <div class="absolute bottom-0 h-4 w-px bg-gray-900 transform translate-y-full"></div>
        </div>
        <div class="z-10 w-14 h-14 bg-white flex items-center justify-center border border-gray-200 rounded shadow-2xl shadow-red-300/40">
          {{svg-jar "shield-secure" class="flex-no-shrink text-red-600 w-6"}}
          <div class="absolute top-0 h-4 w-px bg-gray-900 transform -translate-y-full"></div>
        </div>
        <div class="z-10 w-14 h-14 bg-white flex items-center justify-center border border-gray-200 rounded shadow-2xl shadow-red-300/40">
          {{svg-jar "open-book" class="flex-no-shrink text-red-600 w-6"}}
          <div class="absolute bottom-0 h-4 w-px bg-gray-900 transform translate-y-full"></div>
        </div>
      </div>
      <div class="flex justify-evenly">
        <div class="flex flex-col text-center">
          <span class="font-medium">Open collaboration</span>
          <span class="text-sm">Driver of innovation</span>
        </div>
        <div></div>
        <div class="flex flex-col text-center">
          <span class="font-medium">Transparency</span>
          <span class="text-sm">Know what you use</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="font-normal text-gray-700 mb-3 md:text-center">Some open source technologies we use</h3>
    <ToolsCloud/>
  </div>

</section>

<section class="bg-gradient-to-br from-black to-gray-800  mb-12 md:mb-32">
  <div class="container">
    <div class="border-b border-px border-gray-800 py-24 md:py-36">
      <h2 class="text-2xl md:text-4xl mb-6 text-white font-light md:text-center md:mb-12">We build for the long term
      </h2>
      <div class="container">
        <ul class="data-list">
          <li class="data-list-item">Improved data quality</li>
          <li class="data-list-item">Better data analysis</li>
          <li class="data-list-item">Eliminated data silos</li>
          <li class="data-list-item">Reusable data </li>
          <li class="data-list-item">Sustainable data publishing</li>
          <li class="data-list-item">Data interoperability</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="py-12 md:py-36">
    <Hero::DataCycle/>
  </div>
</section>

<section class=" h-full mb-12 md:mb-32">
  <div class="container">
    <h2 class="os-title mb-12">Discover our work</h2>
      <div class="flex space-x-6">
        <div class="flex-1 flex flex-col p-8 rounded mb-1 bg-gray-900 h-72 rounded-lg">
          <h4 class="text-xl font-medium mb-2 text-white">LBLOD</h4>
          <p class="text-base flex-1 text-gray-200">Local Decisions as Linked Open Data is a project by the Flemish Agency for Local Government</p>
          <LinkTo @route="projects.lblod" class="w-full px-2 py-1 text-white rounded bg-gray-800 font-medium border border-gray-700 hover:bg-gray-700">Learn more</LinkTo>
        </div>
        <div class="flex-1 flex flex-col p-8 rounded mb-1 bg-gray-900 h-72 rounded-lg">
          <h4 class="text-xl font-medium mb-2 text-white">Kaleidos</h4>
          <p class="text-base flex-1 text-gray-200">Kaleidos is a digital platform for managing and working on documents related to the Flemish government’s decision-making process</p>
          <LinkTo @route="projects.kaleidos" class="w-full px-2 py-1 text-white rounded bg-gray-800 font-medium border border-gray-700 hover:bg-gray-700">Learn more</LinkTo>
        </div>
      </div>

  </div>
</section>


<CtaBanner />
<Footer />