<main class="relative">
  <section class="hero arch">
    <Navbar @dark={{true}}/>
    <section class="hero-content">
      <article class="hero-block">
        <LinkTo @route="careers" class="inline-flex items-center text-white bg-gray-dark rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200 mb-8">
          <span class="px-3 py-0.5 text-gray-darkest text-xs font-semibold leading-5 uppercase tracking-wide  bg-gray-lightest  rounded-full">We're hiring</span>
          <span class="ml-4 text-sm">Visit our careers page</span>
          <!-- Heroicon name: chevron-right -->
          <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </LinkTo>
        <h1 class="hero-title">
          Solutions Based on Open and Linked Data
        </h1>
        <p class="hero-text">
          We solve complex data problems with rich distributed web applications.
        </p>
        <div class="group-row space-x-4 py-6">
          <button type="button" class="btn-primary">Book a meeting</button>
          <button type="button" class="btn-secondary">
            Our work
          </button>
        </div>
      </article>
      <div class="hero-block p-6">
        Illustration
      </div>
    </section>


  </section>
  <section class="bg-gray-darkest container py-32 my-6">
    <article>
      <h2 class="title-primary text-white">Key things that define us</h2>
      </article>

  </section>
    <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">projects</h2>
      </article>
  </section>
  <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">Vacancies</h2>
      </article>
  </section>
    <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">testimonials</h2>
      </article>
  </section>
      <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">Contact</h2>
      </article>
  </section>
</main>