{{page-title "Welcome to redpencil.io"}}

<section class="hero">
  <article class="hero-content">
    <h1 class="hero-title">
      Rich web applications <span class="text-red-600">—</span>
      <br> tailored to the data needs of your organization
    </h1>
    <div>
      <p class="hero-text">
        All businesses and organizations are defined by their approach to data — <span class="font-black">we help you
          use yours better!</span>
      </p>
      <div class="hero-button">
        <LinkTo @route="contact">
          <button type="button" class="hero-button-inner">
            <span class="hero-button-text">Contact us</span>
            <svg class="hero-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor" />
            </svg>
          </button>
        </LinkTo>
      </div>
    </div>
  </article>
</section>

<section class="what-section">
  <div class="what-header">
    <h2 class="what-title">What we do differently</h2>
    <div class="what-line">
    </div>
  </div>
  <Hero::Carousel />
</section>

<section class="open-source">
  <article class="open-source-content margin-bottom-small">
    <div class="flex-1 mb-4 lg:mb-0">
      <h2 class="title-lg">We love Open Source</h2>
      <h3 class="title-sm-thin">Part of our DNA</h3>
    </div>
    <p class="title-xs w-full flex-1">
      We both use and contribute extensively to open-source projects. Using Open Source has many advantages
    </p>
  </article>

  <div class="w-full flex flex-col lg:flex-row items-start lg:space-x-12">
    <div class="flex-1 margin-bottom-small">
      <div class="inline-flex">
        <ul class="open-source-list">
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/docker.svg" alt="docker">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/elixir.svg" alt="elixir">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/ember.svg" alt="emberjs">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/kibana.svg" alt="kibana">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/elastic.svg" alt="elasticsearch">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/compose.svg" alt="docker-compose">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/semantic.svg" alt="semantic-works">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/python.svg" alt="python">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/rdf.svg" alt="rdf">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/node.svg" alt="nodejs">
          </li>
          <li class="open-source-list-item">
            <img class="open-source-list-item-logo" src="/assets/vector/logos/emacs.svg" alt="emacs">
          </li>
        </ul>
      </div>
    </div>

    <ul class="flex-1 flex flex-col space-y-3">
      <p class="text-sm text-gray-400 mb-2 border-b">advantages of open source</p>
      <li class="flex pb-4">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Open collaboration
          </div>
          <div class="text-base text-gray-500">
            An important driver of innovation
          </div>
        </div>
      </li>
      <li class="flex pb-4">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Transparency
          </div>
          <div class="text-base text-gray-500">
            Know what you use
          </div>
        </div>
      </li>
      <li class="flex pb-4">
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Security & reliability
          </div>
          <div class="text-base text-gray-500">
            Trust what you use
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="container margin-bottom-large flex space-x-24 items-center bg-gray-100 md:bg-white py-12 md:py-0">
  <Hero::DataCycle />
  <section class="flex-1 ">
    <h2 class="title-lg margin-bottom-small">Our approach to data management provides</h2>
    <ul class="flex flex-col space-y-4">
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">Enhanced data analytics and NLP</span>
      </li>
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">Eliminates data silos</span>
      </li>
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">Reduces wasted data </span>
      </li>
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">Easy data publishing</span>
      </li>
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">A model for integrating all types of data</span>
      </li>
      <li class="flex space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(70,70,70,1)"/></svg>
        <span class="font-bold text-gray-500">Native Linked data management</span>
      </li>
    </ul>
  </section>
</div>

<Banner />