<main class="relative">
  <section class="hero arch">
    <Navbar @dark={{true}}/>
    <section class="hero-content">
      <article class="hero-block">
        <h1 class="hero-title">
          Solutions Based on Open and Linked Data
        </h1>
        <p class="hero-text">
          We solve complex data problems with rich distributed web applications.
        </p>
        <div class="group-row space-x-4 py-6">
          <button type="button" class="btn-primary">Book a meeting</button>
          <button type="button" class="btn-secondary">
            Our work
          </button>
        </div>
      </article>
      <div class="hero-block p-6">
        Illustration
      </div>
    </section>


  </section>
  <section class="bg-gray-darkest container py-32 my-6">
    <article>
      <h2 class="title-primary text-white">Key things that define us</h2>
      </article>

  </section>
    <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">projects</h2>
      </article>
  </section>
  <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">Vacancies</h2>
      </article>
  </section>
    <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">testimonials</h2>
      </article>
  </section>
      <section class="bg-gray-darkest container py-32  my-6">
    <article>
      <h2 class="title-primary text-white">Contact</h2>
      </article>
  </section>
</main>