<section class="hero">

  <article class="hero-content">
    <div class="hero-bubble">
      <LinkTo @route="contact" class="hero-bubble-inner">
        <span class="hero-bubble-text">We're hiring</span>
      </LinkTo>
    </div>
    <h1 class="hero-title">
      Get more from your data
    </h1>
    <div>
      <p class="hero-text">
        Redpencil creates rich web applications tailored to the data needs of your organization.
      </p>
      <div class="hero-button">
        <button type="button" class="hero-button-inner">
          <span class="hero-button-text">Book a meeting</span>
          <svg class="hero-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor" />
          </svg>
        </button>
      </div>
    </div>
  </article>
  <article class="hero-illustration">
    <img src="/assets/vector/hero-illustration.svg" alt="">
  </article>
</section>

<section class="what">
  <div>
    <article class="what-header">
      <h2 class="title-lg">What we do differently</h2>
      <h3 class="title-sm-thin mb-6">An improved way of building</h3>
    </article>
    <ul class="what-list">
      <li class="what-list-item">
        <div class="what-illustration bg-semantic-web">

        </div>
        <div class="what-content">
          <h4 class="title-xs mb-1 text-gray-700">Semantic Web</h4>
          <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="what-list-item">
        <div class="what-illustration bg-linked-data">
        </div>
        <div class="what-content">
          <h4 class="title-xs mb-1 text-gray-700">Linked Data</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="what-list-item">
        <div class="what-illustration bg-open-data">
        </div>
        <div class="what-content">
          <h4 class="title-xs mb-1 text-gray-700">Open Data</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="what-list-item">
        <div class="what-illustration bg-open-standards">
        </div>
        <div class="what-content">
          <h4 class="title-xs mb-1 text-gray-700">Open Standards</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
    </ul>
  </div>
</section>


<section class="why">
  <div>
    <article class="why-header">
      <h2 class="title-lg">Why it makes a difference</h2>
      <h3 class="title-sm-thin mb-6">The advantages</h3>
    </article>
    <ul class="why-list">
      <li class="why-list-item">
        <div class="why-icon">
          <svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M5 9a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.53.579 3.353 1.499L19 13a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.79 0-5.15-.603-7.06-1.658A.998.998 0 0 1 5 20H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h3zm1.001 3L6 17.021l.045.033C7.84 18.314 10.178 19 13 19c3.004 0 5.799-1.156 7.835-3.13l.133-.133-.12-.1a2.994 2.994 0 0 0-1.643-.63L19 15l-2.112-.001c.073.322.112.657.112 1.001v1H8v-2l6.79-.001-.034-.078a2.501 2.501 0 0 0-2.092-1.416L12.5 13.5H9.57A4.985 4.985 0 0 0 6.002 12zM4 11H3v7h1v-7zm9.646-7.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535zm-2.12 1.415a.5.5 0 0 0-.06.637l.058.069L14 8.17l2.476-2.474a.5.5 0 0 0 .058-.638l-.058-.07a.5.5 0 0 0-.638-.057l-.07.058-1.769 1.768-1.767-1.77-.068-.056a.5.5 0 0 0-.638.058z"
              fill="currentColor" />
          </svg>
        </div>
        <div>
          <h4 class="title-xs mb-1 text-gray-700">Semantic Web</h4>
          <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="why-list-item">
        <div class="why-icon">
          <svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 11a5 5 0 0 1 5 5v6h-2v-6a3 3 0 0 0-2.824-2.995L12 13a3 3 0 0 0-2.995 2.824L9 16v6H7v-6a5 5 0 0 1 5-5zm-6.5 3c.279 0 .55.033.81.094a5.947 5.947 0 0 0-.301 1.575L6 16v.086a1.492 1.492 0 0 0-.356-.08L5.5 16a1.5 1.5 0 0 0-1.493 1.356L4 17.5V22H2v-4.5A3.5 3.5 0 0 1 5.5 14zm13 0a3.5 3.5 0 0 1 3.5 3.5V22h-2v-4.5a1.5 1.5 0 0 0-1.356-1.493L18.5 16c-.175 0-.343.03-.5.085V16c0-.666-.108-1.306-.309-1.904.259-.063.53-.096.809-.096zm-13-6a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm-13 2a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zm13 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zM12 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
              fill="currentColor" />
          </svg>
        </div>
        <div>
          <h4 class="title-xs mb-1 text-gray-700">Linked Data</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="why-list-item">
        <div class="why-icon">
          <svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M9.973 18H11v-5h2v5h1.027c.132-1.202.745-2.194 1.74-3.277.113-.122.832-.867.917-.973a6 6 0 1 0-9.37-.002c.086.107.807.853.918.974.996 1.084 1.609 2.076 1.741 3.278zM10 20v1h4v-1h-4zm-4.246-5a8 8 0 1 1 12.49.002C17.624 15.774 16 17 16 18.5V21a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-2.5C8 17 6.375 15.774 5.754 15z"
              fill="currentColor" />
          </svg>
        </div>
        <div>
          <h4 class="title-xs mb-1 text-gray-700">Open Data</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li class="why-list-item">
        <div class="why-illustration">
          <svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M13 21v2h-2v-2H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6a3.99 3.99 0 0 1 3 1.354A3.99 3.99 0 0 1 15 3h6a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1h-8zm7-2V5h-5a2 2 0 0 0-2 2v12h7zm-9 0V7a2 2 0 0 0-2-2H4v14h7z"
              fill="currentColor" />
          </svg>
        </div>
        <div>
          <h4 class="title-xs mb-1 text-gray-700">Open Standards</h4>
          <p class="text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="open-source">
  <div class="open-source-img">
    <img class="w-full" src="/assets/vector/open-source.svg" alt="data modeling">
  </div>
  <article class="open-source-content">
    <h2 class="title-lg">We love open source</h2>
    <h3 class="title-sm-thin mb-6">Part of our DNA</h3>
    <p class="mb-16 text-gray-600 w-full">
      We both use and contribute extensively to open-source projects. Using open source has many advantages
    </p>
  </article>
</section>

<section class="open-source">

  <article class="open-source-content">
    <h2 class="title-lg">Creators of LBLOD</h2>
    <h3 class="title-sm-thin mb-6">Award winning</h3>
    <p class="mb-16 text-gray-600 w-full">
      We both use and contribute extensively to open-source projects. Using open source has many advantages
    </p>
  </article>
  <div class="open-source-img">
    <img class="w-full" src="/assets/vector/award-winning.svg" alt="data modeling">
  </div>
</section>

<Banner />