<Hero::CareerBanner />

<div class="bg-gradient-to-r from-black to-gray-900 pb-64">
  <Navbar @dark={{true}} />

  <section class="hero-section">
    <div class="hero-inner">
      <h1 class="hero-title">
        Creating excellent applications, better data, and proudly building the
        <span class="text-red-600">#WebWeWant</span>
      </h1>
      <LinkTo @route="contact" class="hero-link">
        Contact us
      </LinkTo>
    </div>
  </section>
</div>

<Hero::Carousel />

<section class="os-section">
  <div class="os-section-inner">
    <div class="flex-1">

      <h2 class="os-title">We Breath Open Source</h2>
      <p class="os-title-sub" >
        Part of our DNA
      </p>

      <p class="os-text">
        There are many reasons why open-source
        conquered the world of software development, but behind it all is the idea that a large, open community of
        developers results in better software than any closed group. That why at Redpencil.io we love to use and contribute to Open Source.
      </p>
        <ul class="os-list">
          <li class="os-list-item">
            <div class="bg-green-100 p-2 rounded-full">
              {{svg-jar "check-line"}}
            </div>
            <div class="ml-3">
              <div class="os-list-item-title ">
                Open collaboration
              </div>
              <div class="os-list-item-text">
                Driver of innovation
              </div>
            </div>
          </li>
          <li class="os-list-item">
            <div class="bg-green-100 p-2 rounded-full">
              {{svg-jar "check-line"}}
            </div>
            <div class="ml-3">
              <div class="os-list-item-title">
                Transparency
              </div>
              <div class="os-list-item-text">
                Know what you use
              </div>
            </div>
          </li>
          <li class="os-list-item">
            <div class="bg-green-100 p-2 rounded-full">
              {{svg-jar "check-line"}}
            </div>
            <div class="ml-3">
              <div class="os-list-item-title">
                Security & reliability
              </div>
              <div class="os-list-item-text">
                Trust what you use
              </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="os-illustration-container">
      <div class="os-illustration bg-logo-cloud bg-gray-900">
      </div>
    </div>
  </div>
</section>




<div class="container">
  <section class="data-inner">
    <h2 class="data-title">We build for the long term ensuring:
    </h2>
    <ul class="data-list">
      <li class="data-list-item">Improved data quality</li>
      <li class="data-list-item">Better data analysis</li>
      <li class="data-list-item">Eliminated data silos</li>
      <li class="data-list-item">Reusable data </li>
      <li class="data-list-item">Sustainable data publishing</li>
      <li class="data-list-item">Data interoperability</li>
    </ul>
  </section>

  <div class="mb-12 md:mb-24 bg-gray-900">
    <div class=" px-6 py-12 ">
      <Hero::DataCycle />
    </div>
  </div>
</div>

<Footer />