<div class="not-found">
  <Breadcrumbs />
</div>

<article class="not-found-message">
  <h1 class="title-xl font-bold"> Page not found</h1>
  <p class="mb-16 text-gray-600 w-full md:w-1/2">It looks like this page does not exist or has been moved to a different location</p>
  <LinkTo @route="index" class="btn-primary">Back to the homepage</LinkTo>
</article>
<div class="container py-12 margin-bottom-medium">
  <img src="/assets/vector/404.svg" alt="page not found">
</div>