<div class='bg-white'>
  <Navbar />
</div>

<section class='container py-12 lg:py-32'>
  <h1 class='mb-3 text-4xl font-medium sm:text-5xl md:text-6xl'>
    Page not found</h1>
  <p class='mb-16 w-full text-gray-600 md:w-1/2'>It looks like this page does
    not exist or has been moved to a different location</p>
  <LinkTo
    @route='index'
    class='inline-flex items-center space-x-2 rounded bg-gray-900 px-4 py-2 text-sm font-semibold text-gray-100 hover:bg-gray-700'
  >
    <span>Back to the homepage</span>
    <svg
      class='h-4 w-4'
      fill='currentColor'
      viewBox='0 0 20 20'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        fill-rule='evenodd'
        d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z'
        clip-rule='evenodd'
      ></path>
    </svg>
  </LinkTo>

  <img src='/assets/vector/404.svg' alt='page not found' />
</section>

<Footer />