<div class="margin-bottom-medium">
  <Breadcrumbs />
</div>

<section class="container">
  <div class="mb-24 md:mb-32">
    <h1 class="title-xl text-gray-800">
      Our services
    </h1>
    <h2 class="title-md-thin text-gray-800 mb-12 lg:w-2/3">
      Software solutions and consulting that transform data into knowledge - and knowledge into
      <span class="font-bold">insight</span>
    </h2>
  </div>

  <section class="margin-bottom-large">
    <h2 class="title-md margin-bottom-small border-b pb-1">
      Data strategy & architecture
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 md:gap-6">
      <ServiceCard
        @image="/assets/vector/data-modeling.svg"
        @title="Data modeling"
        @description="We help you conceptualise and model the vital information for your users and organization using universal ontologies" />
      <ServiceCard
        @image="/assets/vector/data-governance.svg"
        @title="Data strategy"
        @description="We help you envision a future proof IT and data strategy" />
      <ServiceCard
        @image="/assets/vector/data-publication.svg"
        @title="Data publication"
        @description="We help making your data accessible to both humans and machines" />
    </div>
  </section>

  <section class="margin-bottom-large">
    <h2 class="title-md margin-bottom-small border-b pb-1">
      Application development
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 md:gap-6">
      <ServiceCard
        @image="/assets/vector/rich-web.svg"
        @title="Rich web application"
        @description="We help you to get the most out of your data by building rich data-driven web applications" />
      <ServiceCard
        @image="/assets/vector/a-a-f.svg"
        @title="Productive application frameworks"
        @description="We use cutting edge development by relying on advanced technologies such as Ember.js, Docker and Semantic.works" />
      <ServiceCard
        @image="/assets/vector/l-d-a.svg"
        @title="Linked Data approach"
        @description="We guarantee your data flows seamlessly through your applications by adopting a native Linked data infrastructure" />
    </div>
  </section>
</section>
