{{page-title "RPIO | Services"}}

<div class="services">
  <Breadcrumbs />
</div>

<section>
  <div class="services-header">
    <h1 class="title-xl">Our Services</h1>
    <h2 class="title-md-thin mb-12">Software solutions and consulting that transform data into knowledge <br>
    - and knowledge into 
<span class="font-bold"> insight</span></h2>
<p>We specialize in data engineering and application development
 </p>
  </div>

  <section class="service-category">
    <h2 class="title-md margin-bottom-small">Data engineering and architecture solutions</h2>
    <div class="service-data-list">
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-modeling.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data Modeling</h3>
          <p class="text-base">Conceptualizing what information is important to your users and modelling it using universal ontologies
</p>
        </div>
      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-governance.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data governance strategy</h3>
          <p class="text-base">Envisioning and future-proofing your IT and  data strategy</p>
        </div>
      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-publication.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data publication </h3>
          <p class="text-base">Open up your data to consumers by making it accessible to both humans and machines 
</p>
        </div>
      </article>
    </div>
  </section>

  <section class="service-category">
    <h2 class="title-md margin-bottom-small">Application Development</h2>
    <div class="service-data-list">
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/rich-web.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Rich web applications</h3>
          <p class="text-base">We help organizations get the most out of their data by building data-driven
            rich web
            applications</p>
        </div>
      </article>
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/future-proofing.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Advanced application frameworks
 </h3>
          <p class="text-base"> Cutting edge development with ember JS, docker and semantic.works



          </p>
        </div>

      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/future-proofing.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data Infrastructure Solutions </h3>
          <p class="text-base"> Make your data flow seamlessly through your application framework by adopting a Linked Data infrastructure.


          </p>
        </div>

      </article>
      
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/future-proofing.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Semantic layers </h3>
          <p class="text-base"> Create a semantic reasoning layer for your data lake
          </p>
        </div>

      </article>
    </div>
  </section>

  <div class="service-card-container">








  </div>
</section>

{{!--
<Banner /> --}}