<section class="services">
  <Navbar />
  <Breadcrumbs />
</section>

<article class="services-header">
  <h1 class="title-xl">Our Services</h1>
  <h2 class="title-md-thin mb-12">Each of our services comes with<span class="font-bold"> a smile </span>
  </h2>
</article>

<section class="services-cards">
  <article class="card-inner p-10 border border-gray-light">
    <h3 class="title-sm mb-4">Data Modeling</h3>
    <p class="font-thin">Conceptualizing the logic in your data processes, clustering it, and modeling it for
      generic utilisation in computers using universal ontologies.</p>
  </article>
  <article class="card-inner p-10 border border-gray-light">
    <h3 class="title-sm mb-4">Rich web applications</h3>
    <p class="font-thin">We help organizations get the most out of their data by building data-driven rich web
      applications.</p>
  </article>

  <article class="card-inner p-10 border border-gray-light">
    <h3 class="title-sm mb-4">Data governance</h3>
    <p class="font-thin">Envisioning an IT strategy, data policy and application architecture to make data in
      your organization accessible and reusable.</p>
  </article>

  <article class="card-inner p-10 border border-gray-light">

    <h3 class="title-sm mb-4">Futureproofing your organization </h3>
    <p class="font-thin">Get ahead on tech. We provide advice on how upcoming technological developments will
      impact you and your business</p>
  </article>
</section>

<section class="banner">
  <article class="banner-inner">
    <div class="banner-call">
      <h2 class="banner-title">Get to know us </h2>
      <h3 class="banner-text">Book a meeting</h3>
    </div>
    <div>
        <button type="button" class="banner-button"> <span
            class="banner-text-outer"> Start a new experience </span> <span
            class="banner-text-inner"> Careers</span></button>
    </div>
  </article>
</section>