
<section class="projects arch">
  <Navbar @dark={{true}}/>
  <Breadcrumbs @dark={{true}}/>
  <article class="container mb-12 text-white">
    <h1 class="title-primary--dark">Our Services</h1>
    <h2 class="title-secondary--dark">Each of our services comes with a smile</h2>
  </article>
</section>

<section class="flex container flex-wrap mb-24">
  <LinkTo @route="projects.lblod" class="w-1/3 p-4" >  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
    <LinkTo @route="projects.lblod" class="w-1/3 p-4">  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
    <LinkTo @route="projects.lblod" class="w-1/3 p-4">  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
    <LinkTo @route="projects.lblod" class="w-1/3 p-4">  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
    <LinkTo @route="projects.lblod" class="w-1/3 p-4">  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>
    <LinkTo @route="projects.lblod" class="w-1/3 p-4">  
    <article>
      <h3>LBLOD</h3>
      <p>Local Decisions as Linked Open Data (Lokale Besluiten als geLinkte Open Data) is a project by the Flemish Agency for Local Government (Agentschap Binnenlands Bestuur or ABB), </p>
    </article>
  </LinkTo>

  
</section>