{{page-title "RPIO | Services"}}

<div class="services">
  <Breadcrumbs />
</div>

<section>
  <div class="services-header">
    <h1 class="title-xl">Our Services</h1>
    <h2 class="title-md-thin mb-12">Each of our services comes with<span class="font-bold"> a smile </span></h2>
  </div>

  <section class="service-category">
    <h2 class="title-md margin-bottom-small">Data engineering</h2>
    <div class="service-data-list">
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-modeling.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data Modeling</h3>
          <p class="text-base">Conceptualizing the logic in your data processes, clustering it, and modeling it
            for
            generic utilisation in computers using universal ontologies.</p>
        </div>
      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-governance.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data governance</h3>
          <p class="text-base">Envisioning an IT strategy, data policy and application architecture to make
            data in
            your organization accessible and reusable.</p>
        </div>
      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/data-publication.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Data publication </h3>
          <p class="text-base">Get ahead on tech. We provide advice on how upcoming technological developments
            will
            impact you and your business</p>
        </div>
      </article>
    </div>
  </section>

  <section class="service-category">
    <h2 class="title-md margin-bottom-small">(Web) Application Development</h2>
    <div class="service-data-list">
      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/rich-web.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Rich web applications</h3>
          <p class="text-base">We help organizations get the most out of their data by building data-driven
            rich web
            applications.</p>
        </div>
      </article>

      <article class="service-card">
        <div class="service-card-illustration">
          <img class="h-64 w-full" src="/assets/vector/future-proofing.svg" alt="data modeling">
        </div>
        <div class="service-card-header">
          <h3 class="service-card-title">Futureproofing your organization </h3>
          <p class="text-base">Get ahead on tech. We provide advice on how upcoming technological developments
            will
            impact you and your business</p>
        </div>

      </article>
    </div>
  </section>

  <div class="service-card-container">








  </div>
</section>

{{!--
<Banner /> --}}