<div
  class='mb-12 border-b border-zinc-500 bg-gradient-to-r from-gray-200 to-gray-50 md:mb-32'
>
  <Navbar />
  <PageHeader
    @title='Services'
    @text='Software solutions
        and consulting that transform data into knowledge and knowledge into
        insight.'
  />
</div>

<section class='container mb-16'>
  <h2 class='mb-6 border-b border-zinc-300 text-xl font-light text-black'>Data
    strategy & architecture</h2>
  <div class='grid grid-cols-1 gap-3 md:gap-6 lg:grid-cols-2 xl:grid-cols-3'>
    <ServiceCard
      @illustration='/assets/vector/data-modeling.svg'
      @title='Data modeling'
      @text='We help you conceptualise and model the vital information for your users and organization using universal ontologies'
    />

    <ServiceCard
      @illustration='/assets/vector/data-governance.svg'
      @title='Data strategy'
      @text='We help you envision a future proof IT and data strategy'
    />

    <ServiceCard
      @illustration='/assets/vector/data-publication.svg'
      @title='Data publication'
      @text='We help making your data accessible to both humans and machines'
    />
  </div>
</section>

<section class='container mb-24 md:mb-36'>
  <h2
    class='mb-6 border-b border-zinc-300 text-xl font-light text-black'
  >Application development</h2>
  <div class='grid grid-cols-1 gap-3 md:gap-6 lg:grid-cols-2 xl:grid-cols-3'>
    <ServiceCard
      @illustration='/assets/vector/rich-web.svg'
      @title='Rich web applications'
      @text='We help you to get the most out of your data by building rich data-driven web applications'
    />

    <ServiceCard
      @illustration='/assets/vector/a-a-f.svg'
      @title='Productive application frameworks'
      @text='We use cutting edge development by relying on advanced technologies such as Ember.js, Docker and semantic.works'
    />

    <ServiceCard
      @illustration='/assets/vector/l-d-a.svg'
      @title='Native Linked Data approach'
      @text='We guarantee your data flows seamlessly through your applications by adopting a native Linked data infrastructure'
    />
  </div>
</section>

<CtaBanner />
<Footer />