<div class="margin-bottom-medium">
  <Breadcrumbs />
</div>

<section class="container margin-bottom-medium">
  <div class="mb-12 md:mb-16">
    <h1 class="title-xl text-gray-800">
      Who we are
    </h1>
    <h2 class="title-md-thin text-gray-800 mb-12">
      Our <span class="font-bold">story</span>
    </h2>
  </div>

  <p class="margin-bottom-xsmall text-gray-800 md:w-2/3">
    We were founded by 5 experienced technology professionals in 2017. The idea was to develop business-critical and user-oriented web-applications that have impact based on open data standards.
  </p>
  <p class="margin-bottom-xsmall text-gray-800 md:w-2/3">
    What users want from data is insights. Insight is gained when knowledge interacts with knowledge: therefore, data should flow freely throughout systems, rather than being stored in ‘data silos’.
  </p>
  <p class="margin-bottom-xsmall text-gray-800 md:w-2/3">
    That is why we prefer to work with semantically structured data models, which allow for data reusability, seamless integration, easy sharing, and automatic enrichment. In short, more insight, less waste.
  </p>
  <p class="margin-bottom-xsmall text-gray-800 md:w-2/3">
    Since our founding, we have kept growing. Based in the heart of Brussels, we have an international outlook, and our coworkers come from all across Europe.
  </p>
</section>

<section class="container margin-bottom-large">
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
    <FactCard @icon="plant" @title="2017" @description="Founded" />
    <FactCard @icon="book" @title="+250" @description="Repositories" />
    <FactCard @icon="code" @title="+15 M" @description="Lines of code" />
    <FactCard @icon="coffee" @title="∞" @description="Coffees" />
  </ul>
</section>

<section class="container margin-bottom-large">
  <div class="mb-12 md:mb-16">
    <h1 class="title-lg text-gray-800">
      What are we all about
    </h1>
    <h2 class="title-sm-thin text-gray-500 mb-12">
      Some of the things we like
    </h2>
  </div>

  <ul class="grid sm:grid-cols-2 xl:grid-cols-3 gap-3 md:gap-6">
    <li class="bg-white h-64 flex items-center justify-center">
      <img class="h-full" src="/assets/vector/open-source-small.svg" alt="Open source">
    </li>
    <li class="bg-gray-100 rounded py-10 px-10">
      <div class="title-sm text-gray-800 mb-3">
        Open source
      </div>
      <p class="text-sm md:text-base text-gray-600">
        We consider ourselves an open source company. Whenever possible we prefer to use open source tools and frameworks. We contribute to open source projects and we publish our work under open source licenses.
      </p>
    </li>
    <li class="bg-gray-100 rounded py-10 px-10">
      <div class="title-sm text-gray-800 mb-3">
        Open standards
      </div>
      <p class="text-sm md:text-base text-gray-600">
        We prefer not to publish data using proprietary standards, as we think this is often inefficient. By instead adopting open standards and semantics, we make our data more powerful and interoperable.
      </p>
    </li>
    <li class="bg-gray-100 rounded py-10 px-10">
      <div class="title-sm text-gray-800 mb-3">
        Distributed solutions
      </div>
      <p class="text-sm md:text-base text-gray-600">
        Too often, web services and applications rely on a single point of failure. By switching to decentralized models, we make our products faster and more reliable.
      </p>
    </li>
    <li class="bg-gray-100 rounded py-10 px-10">
      <div class="title-sm text-gray-800 mb-3">
        Research
      </div>
      <p class="text-sm md:text-base text-gray-600">
        We prize innovation above everything else. We contribute to several research projects and invest substantially in research and development, including open source projects.
      </p>
    </li>
    <li class="bg-white h-64 flex items-center justify-center">
      <img class="h-full" src="/assets/vector/research-small.svg" alt="Research">
    </li>
  </ul>
</section>

<section class="container margin-bottom-large">
  <div class="bg-gray-100 py-24 xl:py-64 rounded flex flex-col xl:flex-row items-center justify-between space-y-6">
    <div class="text-center">
      <h2 class="title-lg text-gray-800">
        Want to join the team?
      </h2>
      <h3 class="title-md-thin text-gray-800">
        Check for opportunities
      </h3>
    </div>
    <div class="px-4 w-full sm:w-96 sm:px-0">
      <LinkTo @route="careers" class="bg-white rounded-full pl-4 sm:pl-6 pr-2 py-2 flex items-center justify-between">
        <span class="text-sm font-semibold text-gray-800">
          Start a new experience
        </span>
        <span class="py-2 px-6 rounded-full bg-red-600 text-white text-sm font-semibold">
          Careers
        </span>
      </LinkTo>
    </div>
  </div>
</section>
